.big2div {
	position: fixed;
	left: 50%;
	margin-left: -225px;
	width: 550px;
	top: 50%;
	margin-top: -100px;
	height: 220px;
	z-index: 4;
	/*display:none;*/
}
	/*========ROWS========*/
	.big2div .row2div {
		width: 550px;
		
	}
	.big2div #top2div, #bot2div {
		height: 43px;
	}
	.big2div #mid2div {
		height: 180px;
	}
	/*===================*/
	/*====COLS-GENERAL===*/
	.row2div .right2div {
		float: right;
	}
	.row2div .left2div {
		float: right;
	}
	.row2div .center2div {
		float: right;
	}
	/*========MID=========*/
	 #midleft2div {
		width: 37px;
		height: 180px;		
	}
	#midright2div {
		width: 42px;
		height: 180px;
	}
	#midcenter2div {
		width: 449px;
		height: 180px;
		background:  url(../../img/pat/pat2.png) repeat;
	}
	#midcenter2div p{
		font-family: "Gabriola";
		font-size: 19pt;
		color: #C99C57;
	}
	#midcenter2div #main{
		/*margin: 13px 0 15px 80px;*/
		padding: 5px;
	}
	#midcenter2div #main2{
		/*margin: 35px 0 0 100px;
		font-size: 22pt;*/
	}
	#ret {
		float: right;
		margin: 0px 20px 0 20px;
	}
	#ret2 {
		float: left;
		margin: 13px 20px 0 20px;
	}
		#ret a, #ret2 a{
			color: gray;
		}
	/*====================*/

/* TEST */

#top2div {
	background:  url(../../img/borders/topcart.png) top no-repeat;
	margin-left: 9px;
}
#bot2div {
	background:  url(../../img/borders/botcart.png) top no-repeat;
	margin-left: 9px;
}

#midright2div {
		background:  url(../../img/borders/right.png) left repeat-y;
}
#midleft2div {
		background:  url(../../img/borders/left.png) left repeat-y;
}
