a:link {text-decoration:none; color: Black;}
a:visited {text-decoration:none; color: Black;}
a:hover {text-decoration:none; color: Black;}
a:active {text-decoration:none; color: Black;}

body {
	font-family: "Open Sans";
}

body div#siteContainer {
	width: 1200px;
	height: auto;
	position: absolute;
	left: 50%;
	margin-left: -600px;
	/*background-color: Gray;*/
}

.pages {
		overflow:hidden;
		float:right;
	}

div#siteContainer #header {
	height: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	font-family: "Open Sans";
	font-size: 18pt;
	background-color: #cbb189;
	color: White;
}

div#siteContainer #footer {
	width: 1200px;
	height: 20px;
	margin-top: 80px;
	background-color: rgba(153,101,21,0.5);
	color: White;
	text-align: center;
	float: left;
}

div#siteContainer #title {
	float: left;
}


div#siteContainer #subTitle {
	font-size: 12pt;
	padding-left: 30px;
	padding-top: 8px;
	float: left;
}

div#siteContainer #container {
	font-size: 10pt;
}

div#leftMenu {
	width: 150px;
	height: 100%;
	background-color: rgba(0,0,0,0.2);
	float: left;
}

div#leftMenu .title {
	margin-top: 0px;
	margin-bottom: 12px;
	padding-left: 5px;
}

div#leftMenu .title:hover{
	font-weight: bold;
}

div#leftMenu ul.navigation {
	margin-top: -12px;
	list-style-type: none;
}

div#leftMenu ul.navigation li {
	cursor: pointer;
	font-size: 10pt;
	margin-left: -15px;
}

div#leftMenu ul.navigation li:hover {
	font-weight: bold;
}

div#rightContent {
	width: 1050px;
	height: auto;
	float: left;
}

div#rightContent #container {
	float: left;
	margin-left: 30px;
	margin-top: 30px;
}

div#rightContent #container #items #container{
	margin-top: 0px;
	margin-left: 0px;
}

table#itemsTable {
	width: 1020px;
	height: auto;
	border-collapse:collapse;
}

table#itemsTable tr.header {
	background-color: rgba(153,101,21,0.4);
	color: White;
	cursor: pointer;
}

table#itemsTable tr.header td.name{
	width: 400px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	border: 2px solid White;
}

table#itemsTable tr.header td.price{
	border: 2px solid White;
	width: 40px;
	text-align: right;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

table#itemsTable tr.header td.category{
	border: 2px solid White;
	width: 200px;
	text-align: center;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

table#itemsTable tr.header td.options{
	border: 2px solid White;
	width: 120px;
	text-align: right;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

table#itemsTable tr.odd{
	background-color: rgba(153,101,21,0.0);
}

table#itemsTable tr.odd:hover{
	background-color: rgba(153,101,21,0.5);
}

table#itemsTable tr.even{
	background-color: rgba(153,101,21,0.2);
}

table#itemsTable tr.even:hover{
	background-color: rgba(153,101,21,0.5);
}

table#itemsTable td.name{
	width: 400px;
	padding-left: 5px;
	padding-right: 5px;
}

table#itemsTable td.price{
	width: 40px;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
}

table#itemsTable td.category{
	width: 200px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}

table#itemsTable td.options{
	width: 120px;
}

table#itemsTable input.edit {
	/*background-color: rgba(50,64,168,0.8);*/
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
}

table#itemsTable input.delete {
	background-color: rgba(191,21,21,0.8);
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
}

/* SQUARED ONE */
.squaredOne {
	float: right;
	margin-right: 24px;
	width: 20px;
	height: 20px;
	background: #fcfff4;

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );

	position: relative;
}

.squaredOne label {
	cursor: pointer;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 2px;
	top: 2px;

	background-color: Gray;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredOne label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 14px;
	height: 14px;

	background-color: #49a05e;

	top: 1px;
	left: 1px;

}

.squaredOne label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredOne input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}


div#editItem #title{
	width: 100%;
	font-size: 14pt;
	/*border-bottom: 1px solid Black;
	margin-bottom: 30px;*/
	margin-bottom: 10px;
}

div#editItem #photos{
	width: 1000px;
	min-height: 150px;
	margin-top: 30px;
}

div#editItem #photos #container{
	margin-left: 0px;
	margin-top: 0px;
}
div#editItem #photos #headPhoto img.headPhoto{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid black;
	width: 220px;
	height: 300px;
}

div#editItem #photos #headPhoto #overlay{
	opacity: 0;
	width: 220px;
	/*height: 300px;*/
	position: absolute;
	text-align: center;
	padding-top: 115px;
	padding-bottom: 115px;
	font-size: 13pt;
	font-weight: bold;
	background-color: #cbb189;
	cursor: pointer;
	margin-left: 1px;
	margin-top: 1px;
}

div#editItem #photos #headPhoto #overlay:hover{
	opacity: 0.5;
}

div#editItem input[type="submit"]{
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
	width: 50px;
}

div#editItem input[name="goBack"]{
	background-color: rgba(153,101,21,0.5);
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
	width: 50px;
}

div#editItem #photos #thumbnails{
	margin-left: 220px;
}

div#editItem #photos #thumbnails #container{

}

#addMorePhotosButton{
	text-align: center;
	margin-left: 0px;
	margin-top: 0px;
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 222px;
	position: absolute;
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
}

.nameInput{
	width: 1010px;
	height: 25px;
	padding-left: 5px;
}

div#editItem #description{
	margin-top: 320px;
}

div#editItem #category{
	width: 1010px;
	height: 100%;
	float: left;
}

.moveBefore {
	width: 25px;
	opacity: 0;
	background-color: #cbb189;
	position: absolute;
	font-size: 16pt;
	font-weight: bold;
	color: White;
	padding-top: 38px;
	padding-bottom: 38px;
	margin-top: 0px;
	text-align: center;
	border-top-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border: 1px solid transparent;
	cursor: pointer;
}

.moveBefore:hover {
	opacity: 1;
}

.moveAfter {
	width: 25px;
	opacity: 0;
	background-color: #cbb189;
	position: absolute;
	font-size: 16pt;
	font-weight: bold;
	color: White;
	padding-top: 38px;
	padding-bottom: 38px;
	margin-top: 0px;
	text-align: center;
	border-top-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border: 1px solid transparent;
	margin-left: 81px;
	cursor: pointer;
}

.moveAfter:hover {
	opacity: 1;
}

.deletePhoto {
	width: 54px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	position: absolute;
	margin-left: 27px;
	margin-top: 79px;
	background-color: rgba(191,21,21,0.8);
	color: rgba(255,255,255,0.8);
	opacity: 0;
	cursor: pointer;
}

.deletePhoto:hover {
	opacity: 1;
}

#pickPhoto {
	margin-top: 30px;
	width: 1000px;
	min-height: 150px;
}


#headPhoto {
	float: left;
}

div#headPhoto #container{
	margin-left: 0px;
	margin-top: 0px;
	width:	220px;
	height: 300px;
	display: block;
	overflow: hidden;
	position: relative;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid black;
	/*float: left;*/
}

div#pickPhoto #thumbnails {
	margin-left: 220px;
}

div#rightContent #thumbnails{
	width: 1000px;
}

div#rightContent #thumbnails #container{

}

div#rightContent #thumbnails #container ul.thumbs {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	width: 750px;
	margin-left: 20px;
}

div#rightContent #container #addPhotos{
	width: 1000px;
}

div#rightContent #container #addPhotos input[name="submit"]{
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
	width: 100px;
}

input[name="goBack"]{
	background-color: rgba(153,101,21,0.5);
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
	width: 50px;
}

div#rightContent #container #addPhotos #container{
	margin-left: 0px;
}

.photoThumbnails {
	position: absolute;
	margin-top: 30px;
	margin-left: 8px;
	height: auto;
}

/*ul.thumbs {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	width: 750px;
	margin-left: 20px;
}*/

.frame {
	position: absolute;
	margin-top: 100px;
	width: 106px;
	height: 106px;
	text-align: center;
	margin: 0px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

ul.thumbs li {
	float: left;
	padding: 0;
	margin: 8px;
	list-style: none;
	height: 106px;
	width: 106px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.5);
}

ul.thumbs img {
	vertical-align: middle;
	max-width: 90px;
	max-height: 90px;
	position: relative;
	margin-left: -4px;;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	cursor: pointer;
}

#cropButtons {
	/*float: left;*/
}

#cropTip {
	text-align: center;
	margin-left: 0px;
	margin-top: -18px;
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 222px;
	position: absolute;
	background-color: #cbb189;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: default;
}

#cropThis {
	margin-left: 0px;
	margin-top: -20px;
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 40px;
	width: 222px;
	display: none;
}

#proceedCrop {
	margin-left: 0px;
	margin-top: -20px;
	background-color: rgba(191,21,21,0.8);
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 40px;
	width: 222px;
	display: none;
}

#cropbox {
	margin-left: 300px;
	/*position: absolute;*/
}

div#newItem #name{
	width: 700px;
}

div#newItem #description{
	width: 700px;
	height: 600px;
	resize: none;
}

div#newItem #price{

}

#newPriceInput {
	width: 40px;
	text-align: left;
}

div#newItem #size{
	float: left;
	width: 1010px;
}

div#newItem #size .box{
	float: left;
	padding-right: 20px;
}

div#newItem #size .sizeOf{
	padding-bottom: 5px;
}

div#newItem #size select#options {
	float: left;
}

div#newItem #size #sizes {
	width: 100px;
	/*float: left;*/
}

div#newItem #colors{
	width: 1010px;
	float: left;
}

div#newItem #category{
	width: 1010px;
	float: left;
}

#categoryLevel_0 {
	float: left;
	height: 100%;
	padding-right: 15px;
}

.categoryLevel_2 {
	float: left;
}

div#newItem #photos{
	/*margin-top: 50px;*/
	min-height: 100px;
	float: left;
}

.preview-area {
	width: 1010px;
}

body div.label {
	margin-top: 20px;
	margin-bottom: 4px;
	width: 1000px;
	height: auto;
	background-color: rgba(153,101,21,0.5);
	font-size: 11pt;
	color: White;
	padding-left: 10px;
}

div#confirmAlert{
	width: 200px;
	height: 50px;
	background: #cbb189;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -25px;
	opacity: 0.9;
	font-size: 14pt;
	color: White;
	text-align: center;
	padding-top: 15px;
	z-index: 100;
    display: none;
	/*visibility: hidden;*/
}

div#confirmAlert2{
	width: 200px;
	height: 50px;
	background: #cbb189;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -25px;
	opacity: 0.9;
	font-size: 14pt;
	color: White;
	text-align: center;
	padding-top: 15px;
	z-index: 100;
	/*visibility: hidden;*/
}

div#editCategories #category .box{
	width: 450px;
	/*background-color: Red;*/
	float: left;
	margin-top: 20px;
	margin-left: 15px;
	border-left: 2px solid #cbb189;
}

div#editCategories #category .box .cl1{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-bottom: 2px solid #cbb189;
}

div#editCategories #category .box .container{
	margin-left: 0px;
	display: inline;
}

div#editCategories #category .box input.editTextbox{
	margin-left: -1px;
	width: 300px;
	height: 18px;
	border: 1px solid rgba(0,0,0,0.08);
}

div#editCategories #category .box input.newCategoryTextbox{
	margin-left: 4px;
	margin-top: 20px;
	width: 330px;
	height: 18px;
	border: 1px solid rgba(0,0,0,0.3);
}

div#editCategories #category .box span.name{

}

div#editCategories #category .box .cl2{
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

div#editCategories #category .box .buttons{
	float: right;
	margin-top: -20px;
}

div#editCategories #category .box input.edit{
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
	width: 50px;
	float: left;
}

div#editCategories #category .box input.delete {
	background-color: rgba(191,21,21,0.8);
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
	width: 50px;
	float: left;
}

div#editCategories #category .box input.add{
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
	width: 104px;
	margin-top: 37px;
}





div#editSize #size .box{
	width: 300px;
	/*background-color: Red;*/
	float: left;
	margin-top: 20px;
	margin-left: 15px;
	border-left: 2px solid #cbb189;
}

div#editSize #size .box .sizeOf{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-bottom: 2px solid #cbb189;
}

div#editSize #size .box .container{
	margin-left: 0px;
	display: inline;
}

div#editSize #size .box input.editTextbox{
	margin-left: -1px;
	width: 180px;
	height: 18px;
	border: 1px solid rgba(0,0,0,0.08);
}

div#editSize #size .box input.newSizeTextbox{
	margin-left: 4px;
	margin-top: 20px;
	width: 180px;
	height: 18px;
	border: 1px solid rgba(0,0,0,0.3);
}

div#editSize #size .box span.name{

}

div#editSize #size .box .size{
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

div#editSize #size .box .buttons{
	float: right;
}

div#editSize #size .box input.edit{
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
	width: 50px;
}

div#editSize #size .box input.delete {
	background-color: rgba(191,21,21,0.8);
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
	width: 50px;
}

div#editSize #size .box input.add{
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
	width: 104px;
	margin-top: 17px;
}

div#editSize #addNew .title{
	float: left;
	width: 60px;
}
div#editSize #addNew input[type = text]{
	width: 240px;
}

div#editSize #addNew input[name="addNew"]{
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
	width: 100px;
}



div#sets{

}

div#rightContent #container #sets #container{
	margin-top: 0px;
	margin-left: 0px;
}

div#sets table#itemsTable tr.header td.options{
	border: 2px solid White;
	width: 120px;
	text-align: center;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

div#sets table#itemsTable input.add {
	/*background-color: rgba(50,64,168,0.8);*/
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
}

div#sets table#setsTable tr.header td.options{
	border: 2px solid White;
	width: 77px;
	max-width: 77px;
	text-align: center;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

div#sets table#setsTable {
	width: 1020px;
	height: auto;
	border-collapse:collapse;
}

div#sets table#setsTable tr.header {
	background-color: rgba(153,101,21,0.4);
	color: White;
	cursor: pointer;
}

div#sets table#setsTable tr.header td.name{
	width: 180px;
	max-width: 180px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	border: 2px solid White;
}


div#sets table#setsTable tr.header td.category{
	border: 2px solid White;
	width: 140px;
	text-align: center;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

div#sets table#setsTable tr.header td.connections{
	width: 20px;
	max-width: 50px;
	border: 2px solid White;
	/*width: 40px;*/
	text-align: center;
	font-weight: bold;
	/*padding-left: 5px;
	padding-right: 5px;*/
}

div#sets table#setsTable tr.odd{
	background-color: rgba(153,101,21,0.0);
}

div#sets table#setsTable tr.odd:hover{
	background-color: rgba(153,101,21,0.5);
}

div#sets table#setsTable tr.even{
	background-color: rgba(153,101,21,0.2);
}

div#sets table#setsTable tr.even:hover{
	background-color: rgba(153,101,21,0.5);
}

div#sets table#setsTable td.name{
	width: 180px;
	max-width: 180px;
	padding-left: 5px;
	padding-right: 5px;
}

div#sets table#setsTable td.price{
	width: 40px;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
}

div#sets table#setsTable td.category{
	width: 140px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}

div#sets table#setsTable td.connections{
	width: 20px;
	/*width: 40px;*/
	text-align: center;
	max-width: 50px;
	/*padding-left: 5px;
	padding-right: 5px;*/
}

div#sets table#setsTable td.options{
	width: 77px;
	max-width: 77px;
}

div#sets table#setsTable input.add {
	/*background-color: rgba(50,64,168,0.8);*/
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
}

div#sets table#setsTable input.edit {
	/*background-color: rgba(50,64,168,0.8);*/
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
}

div#sets table#setsTable input.deleteAll {
	background-color: rgba(191,21,21,0.8);
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
}




div#connItem #title{
	width: 100%;
	font-size: 14pt;
	/*border-bottom: 1px solid Black;
	margin-bottom: 30px;*/
	margin-bottom: 10px;
	float: left;
}

div#connItem .label{
	margin-bottom: 10px;
}

div#connItem #title p.title{
	padding: 0px;
	margin: 0px;
	padding-left: 10px;
	font-size: 10pt;
}

div#connItem #connections{
	width: 100%;
	float: left;
	font-size: 14pt;
	/*border-bottom: 1px solid Black;
	margin-bottom: 30px;*/
	margin-bottom: 10px;
}

div#connItem #connections .row{
	margin-bottom: 3px;
	width: 100%;
	float: left;
}

div#connItem #connections p.title{
	padding: 0px;
	margin: 0px;
	padding-left: 10px;
	font-size: 10pt;
	margin-left: 50px;
	/*float: left;*/
	width: 200px;
}

div#connItem input.delete {
	background-color: rgba(191,21,21,0.8);
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
	float: left;
}

div#sets input.addMore{
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
	width: auto;
}


/* USERS ////////////////////////////////////////////////// */

div#rightContent #container #users #container{
	margin-top: 0px;
	margin-left: 0px;
}

table#usersTable {
	width: 1020px;
	height: auto;
	border-collapse:collapse;
}

table#usersTable tr.header {
	background-color: rgba(153,101,21,0.4);
	color: White;
	cursor: pointer;
}

table#usersTable tr.header td.email{
	width: 150px;
	max-width: 150px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	border: 2px solid White;
}

table#usersTable tr.header td.name{
	border: 2px solid White;
	width: 100px;
	max-width: 100px;
	text-align: left;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

table#usersTable tr.header td.lastName{
	border: 2px solid White;
	width: 100px;
	max-width: 100px;
	text-align: left;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

table#usersTable tr.header td.address{
	border: 2px solid White;
	width: 190px;
	text-align: left;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

table#usersTable tr.header td.options{
	border: 2px solid White;
	width: 90px;
	text-align: right;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

table#usersTable tr.odd{
	background-color: rgba(153,101,21,0.0);
}

table#usersTable tr.odd:hover{
	background-color: rgba(153,101,21,0.5);
}

table#usersTable tr.even{
	background-color: rgba(153,101,21,0.2);
}

table#usersTable tr.even:hover{
	background-color: rgba(153,101,21,0.5);
}

table#usersTable td.email
	/*width: 100px;*/
	padding-left: 5px;
	padding-right: 5px;
}

table#usersTable td.name{
	/*width: 40px;*/
	text-align: rcenter;
	padding-left: 5px;
	padding-right: 5px;
}

table#usersTable td.lastName{
	/*width: 200px;*/
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
}

table#usersTable td.address{
	/*width: 200px;*/
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
}

table#usersTable td.options{
	/*width: 120px;*/
}

table#usersTable input.edit {
	/*background-color: rgba(50,64,168,0.8);*/
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
}

table#usersTable input.delete {
	background-color: rgba(191,21,21,0.8);
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
}

div#users #container .row{
	height: 30px;
}

div#users #container .row .title{
	float: left;
	width: 120px;
	padding-top: 4px;
}

div#users #container .row .userInput{
	width: 250px;
	padding-left: 3px;
}

div#users #container .row input#update, input#updatePw{
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
}

input.backButton{
	background-color: #cbb189;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
}

/* GALLERY ----------------------------------------------- */
div#newGallery #name{
	width: 700px;
}

table#galleriesTable img{
	height: 100px;
	}





table#galleriesTable {
	width: 700px;
	height: auto;
	border-collapse:collapse;
}

table#galleriesTable tr.header {
	background-color: rgba(153,101,21,0.4);
	color: White;
	cursor: pointer;
}

table#galleriesTable tr.header td.img{
	width: 100px;
	max-width: 160px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	border: 2px solid White;
}

table#galleriesTable tr.header td.title{
	border: 2px solid White;
	width: 500px;
	max-width: 100px;
	text-align: left;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}


table#galleriesTable tr.header td.options{
	border: 2px solid White;
	width: 50px;
	text-align: center;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

table#galleriesTable tr.odd{
	background-color: rgba(153,101,21,0.0);
}

table#galleriesTable tr.odd:hover{
	background-color: rgba(153,101,21,0.5);
}

table#galleriesTable tr.even{
	background-color: rgba(153,101,21,0.2);
}

table#galleriesTable tr.even:hover{
	background-color: rgba(153,101,21,0.5);
}

table#galleriesTable td.img
	/*width: 100px;*/
	padding-left: 5px;
	padding-right: 5px;
}

table#galleriesTable td.title{
	/*width: 40px;*/
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}

table#galleriesTable td.options{
	/*width: 120px;*/
}

table#galleriesTable input.edit {
	/*background-color: rgba(50,64,168,0.8);*/
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
	width: 50px;
}

table#galleriesTable input.delete {
	background-color: rgba(191,21,21,0.8);
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
	width: 50px;
}

div#galleries input#addNew{
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
	margin-bottom: 10px;
}

div#gallery #title{
	width: 100%;
	font-size: 14pt;
	/*border-bottom: 1px solid Black;
	margin-bottom: 30px;*/
	margin-bottom: 0px;
}

div#gallery #photos{
	width: 100%;
	min-height: 150px;
	margin-left: -30px;
}

div#gallery input[name="submit"]{
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
	width: 100px;
}

div#cmsLogin{
	position: absolute;
	width: 100%;
	height: 100%;
	margin-left: -8px;
	margin-top: -8px;
	background-color: rgba(153,101,21,0.5);
}

div#cmsLogin #box{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -100px;
	width: 300px;
	height: 240px;
	background-color: rgba(255,255,255,0.3);
	border: 2px solid White;
}

div#cmsLogin #box img{
	margin-top: 10px;
	margin-left: 60px;
	width: 180px;
}

div#cmsLogin #box #loginRow{
	margin-top: 20px;
	margin-left: 40px;
}

div#cmsLogin #box #passwordRow{
	margin-left: 40px;
}

div#cmsLogin #box .title{
	float: left;
	font-size: 11pt;
	width: 50px;
}

div#cmsLogin #box input{
	width: 180px;
}

div#cmsLogin #box input[name="loginButton"]{
	margin-top: 10px;
	margin-left: 90px;
	width: 186px;
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
}

/* PROMOTED ITEMS ///////////////////////////////////// */
div#promoted{

}

div#rightContent #container #promoted #container{
	margin-top: 0px;
	margin-left: 0px;
}

div#promoted table#itemsTable tr.header td.options{
	border: 2px solid White;
	width: 120px;
	text-align: center;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

div#promoted table#itemsTable input.add {
	/*background-color: rgba(50,64,168,0.8);*/
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
}

div#promoted table#promotedTable tr.header td.options{
	border: 2px solid White;
	width: 77px;
	max-width: 77px;
	text-align: center;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

div#promoted table#promotedTable {
	width: 1020px;
	height: auto;
	border-collapse:collapse;
}

div#promoted table#promotedTable tr.header {
	background-color: rgba(153,101,21,0.4);
	color: White;
	cursor: pointer;
}

div#promoted table#promotedTable tr.header td.name{
	width: 180px;
	max-width: 180px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	border: 2px solid White;
}


div#promoted table#promotedTable tr.header td.category{
	border: 2px solid White;
	width: 140px;
	text-align: center;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

div#promoted table#promotedTable tr.header td.price{
	border: 2px solid White;
	width: 50px;
	text-align: center;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

div#promoted table#promotedTable tr.header td.connections{
	width: 20px;
	max-width: 50px;
	border: 2px solid White;
	/*width: 40px;*/
	text-align: center;
	font-weight: bold;
	/*padding-left: 5px;
	padding-right: 5px;*/
}

div#promoted table#promotedTable tr.odd{
	background-color: rgba(153,101,21,0.0);
}

div#promoted table#promotedTable tr.odd:hover{
	background-color: rgba(153,101,21,0.5);
}

div#promoted table#promotedTable tr.even{
	background-color: rgba(153,101,21,0.2);
}

div#promoted table#promotedTable tr.even:hover{
	background-color: rgba(153,101,21,0.5);
}

div#promoted table#promotedTable td.name{
	width: 180px;
	max-width: 180px;
	padding-left: 5px;
	padding-right: 5px;
}

div#promoted table#promotedTable td.price{
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
}

div#promoted table#promotedTable td.category{
	width: 140px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}

div#promoted table#promotedTable td.connections{
	width: 20px;
	/*width: 40px;*/
	text-align: center;
	max-width: 50px;
	/*padding-left: 5px;
	padding-right: 5px;*/
}

div#promoted table#promotedTable td.options{
	width: 77px;
	max-width: 77px;
}

div#promoted input.addMore {
	/*background-color: rgba(50,64,168,0.8);*/
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
}

div#promoted table#promotedTable input.edit {
	/*background-color: rgba(50,64,168,0.8);*/
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
}

div#promoted table#promotedTable input.deleteAll {
	background-color: rgba(191,21,21,0.8);
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
}

div#promoted table#promotedTable td.price input[type="button"]{
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
	margin-left: 10px;
}

div#promoted table#promotedTable td.price input[type="text"]{
	width: 50px;
	text-align: center;

}
/* //////////////////////////////////////////////////// */
/* DISCOUNTS ////////////////////////////////////////// */
div#discounts{

}

div#discounts table{
	width: 500px;
	height: auto;
	border-collapse:collapse;
	margin-top: 20px;
}

div#discounts table tr.head{
	background-color: rgba(153,101,21,0.4);
	color: White;
	cursor: pointer;
}

div#discounts table tr.head td#count{
	width: 80px;
	max-width: 180px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	border: 2px solid White;
}

div#discounts table tr.head td#disc{
	border: 2px solid White;
	width: 80px;
	text-align: center;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

div#discounts table tr.head td#options{
	width: 100px;
	max-width: 50px;
	border: 2px solid White;
	/*width: 40px;*/
	text-align: center;
	font-weight: bold;
}

div#discounts table input[type="text"]{
	width: 130px;
	text-align: center;
}

div#discounts input[name="submit"]{
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
}
/* //////////////////////////////////////////////////// */
/* SETTINGS//////////////////////////////////////////// */
div#settings{

}

div#settings #newPw{
	width: 200px
}

div#settings #newLog{
	width: 200px;
}

div#settings input[type="button"]{
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
}
/* //////////////////////////////////////////////////// */
/* SETTINGS//////////////////////////////////////////// */
div#editColors{

}

div#editColors #colors .croW{
	width: 100%;
	height: 30px;
}

div#editColors #colors input[type="text"]{
	width: 200px;
	/*height: 25px;*/
	padding-left: 5px;
}

div#editColors #colors input.edit{
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
}

div#editColors #colors input.delete{
	background-color: rgba(191,21,21,0.8);
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
}

div#editColors input[name="addNew"]{
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
}
/* //////////////////////////////////////////////////// */
/* PAGES ////////////////////////////////////////////// */
div#pages input[name="saveChanges"]{
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
}
/* //////////////////////////////////////////////////// */
/* SHIPPING /////////////////////////////////////////// */
div#shipping{

}

div#shipping table{
	width: 650px;
	height: auto;
	border-collapse:collapse;
	margin-top: 20px;
}

div#shipping table tr.head{
	background-color: rgba(153,101,21,0.4);
	color: White;
	cursor: pointer;
}

div#shipping table tr.head td#count{
	width: 130px;
	max-width: 180px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	border: 2px solid White;
}

div#shipping table tr.head td#disc{
	border: 2px solid White;
	width: 50px;
	text-align: center;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

div#shipping table tr.head td#options{
	width: 220px;
	max-width: 50px;
	border: 2px solid White;
	/*width: 40px;*/
	text-align: center;
	font-weight: bold;
}

div#shipping table input[name="name"]{
	width: 250px;
	text-align: center;
}

div#shipping table input[name="value"]{
	width: 80px;
	text-align: center;
}

div#shipping input[name="submit"]{
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
}

div#shipping input[name="delete"]{
	background-color: rgba(191,21,21,0.8);
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
}

div#shipping input[name="Pobraniowa"]{
	background-color: rgba(153,101,21,0.5);
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
}

div#shipping #newShipping input[name="newName"]{
	width: 230px;
}

div#shipping #newShipping input[name="newValue"]{
	width: 70px;
}
/* //////////////////////////////////////////////////// */
/* ORDERS ///////////////////////////////////////////// */
div#orders table{
	width: 1000px;
	height: auto;
	border-collapse:collapse;
	margin-top: 20px;
}

div#orders table tr.head{
	background-color: rgba(153,101,21,0.4);
	color: White;
	cursor: pointer;
}

div#orders table tr.head td{
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
}

div#orders table tr.head td#order_id{
	width: 40px;
	border: 2px solid White;
	text-align: center;
}

div#orders table tr.head td#item_name{
	border: 2px solid White;
	/*width: 50px;*/
	text-align: center;
}

div#orders table tr.head td#price{
	width: 40px;
	border: 2px solid White;
	text-align: center;
}

div#orders table tr.head td#quantity{
	width: 20px;
	border: 2px solid White;
	text-align: center;
}

div#orders table tr.head td#shipping_price{
	width: 40px;
	border: 2px solid White;
	text-align: center;
}
div#orders table tr.head td#sum_price{
	width: 40px;
	border: 2px solid White;
	text-align: center;
}

div#orders table tr.head td#date{
	width: 80px;
	border: 2px solid White;
	text-align: center;
}

div#orders table tr.head td#client_name{
	width: 150px;
	border: 2px solid White;
	text-align: center;
}

div#orders table tr.head td#shipping{
	width: 130px;
	border: 2px solid White;
	text-align: center;
}

div#orders table tr.head td#status{
	width: 110px;
	border: 2px solid White;
	text-align: center;
}

div#orders table tr.odd{
	text-align: center;
	font-size: 9pt;
	background-color: rgba(153,101,21,0.0);
}

div#orders table tr.odd:hover{
	text-align: center;
	font-size: 9pt;
	background-color: rgba(153,101,21,0.5);
}

div#orders table tr.even{
	text-align: center;
	font-size: 9pt;
	background-color: rgba(153,101,21,0.2);
}

div#orders table tr.even:hover{
	text-align: center;
	font-size: 9pt;
	background-color: rgba(153,101,21,0.5);
}

div#orders table td.status{
	font-weight: bold;
	cursor: pointer;
}


/* DETAILS */
div#grayout{
	margin-top: -7px;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(255,255,255,0.6);
	z-index: 9;
	visibility: hidden;
	overflow: hidden;
}

div#detailsPopupFixed{
	width: 550px;
	height: auto;
	position: fixed;
	top: 0%;
	left: 50%;
	margin-top: 30px;
	z-index: 10;
	/*margin-left: -225px;*/
}

div#detailsPopup{
	/*width: 550px;
	height: auto;*/
	border: 5px solid rgba(0,0,0,0.2);
	position: fixed;
	/*top: 0%;
	left: 50%;
	margin-top: 100px;*/
	margin-left: -225px;
	background-color: #E4E4E4;
	z-index: 10;

	overflow-y: scroll;
    height: 90%;
}

div#detailsPopup .label{
	margin-top: 0px;
	margin-bottom: 4px;
	width: 540px;
	height: auto;
	background-color: rgba(153,101,21,0.5);
	font-size: 11pt;
	color: White;
	padding-left: 10px;
}

div#detailsPopup table{
	background-color: White;
}

div#detailsPopup table.item1{
	width: 550px;
	margin-top: 10px
}

div#detailsPopup table.item1 tr.head{
	background-color: rgba(153,101,21,0.5);
}

table.item1 tr.head td.item_name{
	width: auto;
	border: 2px solid White;
}

table.item1 tr.head td.item_price{
	width: 80px;
	border: 2px solid White;
	text-align: center;
}

table.item1 tr.head td.item_quantity{
	width: 20px;
	border: 2px solid White;
	text-align: center;
}

table.item1 tr{
	text-align: center;
	font-size: 9pt;
}

table.item2 tr{
	text-align: center;
	font-size: 9pt;
}

table[name="t3"] tr{
	text-align: center;
	font-size: 9pt;
}

table[name="t4"] tr{
	text-align: center;
	font-size: 9pt;
}

table[name="t5"] tr{
	text-align: center;
	font-size: 9pt;
}

div#detailsPopup table.item2{
	width: 550px;
	margin-top: 0px;
}

div#detailsPopup table.item2 tr.head{
	background-color: rgba(153,101,21,0.5);
}

table.item2 tr.head td.item_size{
	width: 250px;
	border: 2px solid White;
	text-align: center;
}

table.item2 tr.head td.item_color{
	width: 100px;
	border: 2px solid White;
	text-align: center;
}

div#detailsPopup table[name="t3"]{
	width: 550px;
	margin-top: 10px;
}

table[name="t3"] tr.head{
	background-color: rgba(153,101,21,0.5);
}

table[name="t3"] tr.head td#ship_price{
	width: 20px;
	border: 2px solid White;
	text-align: center;
}

table[name="t3"] tr.head td#discount{
	width: 20px;
	border: 2px solid White;
	text-align: center;
}

table[name="t3"] tr.head td#sum{
	width: 20px;
	border: 2px solid White;
	text-align: center;
}

div#detailsPopup table[name="t4"]{
	width: 550px;
	margin-top: 10px;
}

table[name="t4"] tr.head{
	background-color: rgba(153,101,21,0.5);
}

table[name="t4"] tr.head td#order_id{
	width: 20px;
}

table[name="t4"] tr.head td#order_date{
	width: 30px;
	border: 2px solid White;
	text-align: center;
}

table[name="t4"] tr.head td#email{
	width: 180px;
	border: 2px solid White;
	text-align: center;
}

table[name="t4"] tr.head td#name{
	width: 130px;
	border: 2px solid White;
	text-align: center;
}

table[name="t4"] tr.head td#lastName{
	width: 130px;
	border: 2px solid White;
	text-align: center;
}

div#detailsPopup table[name="t5"]{
	width: 550px;
	margin-top: 10px;
}

div#detailsPopup table[name="t5"] tr.head{
	background-color: rgba(153,101,21,0.5);
}

table[name="t5"] tr.head td#pcode{
	width: 40px;
	border: 2px solid White;
	text-align: center;
}

table[name="t5"] tr.head td#city{
	width: 120px;
	border: 2px solid White;
	text-align: center;
}

table[name="t5"] tr.head td#street{
	width: 120px;
	border: 2px solid White;
	text-align: center;
}

table[name="t5"] tr.head td#hnum{
	width: 30px;
	border: 2px solid White;
	text-align: center;
}

table[name="t5"] tr.head td#anum{
	width: 35px;
	border: 2px solid White;
	text-align: center;
}

table[name="t5"] tr.head td#phone{
	width: 60px;
	border: 2px solid White;
	text-align: center;
}

div#detailsPopup #options{
	position: inherit;
	margin-top: 75px;
}

div#detailsPopup #itemDet{
	margin-top: 30px;
}

div#detailsPopup #options #status{
	width: 440px;
	margin-left: 10px;
	float: left;
	font-size: 9pt;
}

div#detailsPopup #options #status p{
	margin-top: -23px;
	margin-left: 115px;
	font-size: 12pt;
	font-weight: bold;
}

div#detailsPopup #options #buttons{
	width: 100px;
	float: left;
}

div#detailsPopup #options #buttons input[type="button"]{
	float: right;
	margin-right: 10px;
	margin-top: -3px;
	margin-bottom: 30px;
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
}




div#orders table input[name="name"]{
	width: 250px;
	text-align: center;
}

div#shipping table input[name="value"]{
	width: 80px;
	text-align: center;
}

div#shipping input[name="submit"]{
	background-color: #49a05e;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
}

div#shipping input[name="delete"]{
	background-color: ;
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
}

div#shipping #newShipping input[name="newName"]{
	width: 230px;
}

div#shipping #newShipping input[name="newValue"]{
	width: 70px;
}
