/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}
/*---------------/*----------------------------------------------*/
/*--------------------CSS-----------------------*/
/*----------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

strong {font-weight: bold;}

h2 {
	font-family: "OpenSansRegular", Arial;
	font-size: 16pt;
}

body {
	line-height: 1;
	overflow-y: scroll;
	overflow-x: hidden;
	background: white;
	color: #383838;
	font-family: "OpenSansBold", "OpenSansRegular", Arial;
}
.ie7 body{
	overflow:hidden;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color: #C99C57;
	text-decoration: none;
	cursor: pointer;
}
/*----------------------------------------------*/
/*------------------FONTS-----------------------*/
@font-face {
    font-family: "Scriptina";
    src:  url(../css/fonts/SCRIPTIN.ttf) format("truetype");
}
@font-face {
    font-family: "OpenSansRegular";
    src:  url(../css/fonts/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "OpenSansBold";
    src:  url(../css/fonts/OpenSans-Bold.ttf) format("truetype");
}

/*----------------------------------------------*/
/*------------------CONTAINER-------------------*/
.bg{
	width: 100%;
	height: 100%;
	/*background-color: rgba(247,235,208,0.8); */ 
	/*background-color: rgba(247,239,222,0.8); */
	background-color: rgba(237,237,237,0.8);
	position: fixed;
	z-index: 1;
}
#bg2{
	display: none;
	background-color: rgba(255,247,222,0.8); 
	z-index: 4;
}
.container{
	margin: -60px auto;
	width: 1100px;
	height: auto;
	overflow: hidden;
	position: relative;
	z-index:3;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
}
.sub-menu-container {
	position: relative;
	width: auto;
	overflow: hidden;
	/*height: 85px;*/
	/*margin-top: 270px;*/
	z-index:2;
}
/*----------------------------------------------*/
/*------------------MENU------------------------*/
/*.menu{
	z-index:5;
	height: 100px;
	margin-bottom: 150px;
	margin-top: 0px;
}*/
.n-menu {
		font-family: "Gabriola", "OpenSansRegular", Arial;
		font-size: 23pt;
		overflow: hidden;
		width:1000px;
		height: 55px;
		margin: 0 auto;
		margin-top: 45px;
		vertical-align: bottom;
		z-index: 5;
}


.n-menu-a {
	margin-left: 20px;
	float: right;
	height: 35px;
	vertical-align: bottom;
	padding-top: 28px;
	padding-bottom: 15px;
	margin-top: -20px;
}

#background{
	/*position: absolute;*/
	position: relative;
	width: 1400px;
	height: 260px;
	margin: 0 auto;
	/*left: 50%;
	margin-left: -710px;*/
	background: url("../img/bg_header.png") no-repeat;
	z-index:2;
}

/*div.menu #background{
	position: absolute;
	width: 1300px;
	height: 300px;
	margin-left: -150px;
	background: url("../img/bg_header.png") no-repeat;
}*/

div .menu-div{
	 font-size: 11px;
}

.menu-anim {	
    position: relative;
   	/*margin: 0px auto;*/
   	border-bottom: 1px solid #C99C57;
	padding-top: 8px;
    height: 100px;
    width: 1000px;
    overflow: hidden;
        }
                .menu-anim li {
                    float: right;
                    list-style: none;
                    top:50%;
                    margin-top: 50px;
                }
                .menu-anim #asanti {
                    float: left;
                    list-style: none;
                    background: url(../img/forkids2.png) no-repeat;
                    width: 200px;
					height: 100px;
					top:0%;
                    margin-top: 0px;
                    cursor: pointer;
                }
           
                
                    .menu-anim li.back {
						border-bottom: 4px solid #C99C57;
                        width: 6px;
                        margin-top: 104px;
                        /*z-index: 2;*/
                        position: absolute;
                        top:0%;
                    }
                    
                    .menu-anim li a {
                        /*font: 13px Tahoma, Geneva, sans-serif;*/
                        /*font-weight: bold;*/
                        text-decoration: none;
                        color: #383838;
                        text-align: center;
                        letter-spacing: 0;
                        /*z-index: 10;*/
                        display: block;
                        float: left;
                        height: 30px;
                        line-height: 30px;
                        padding-left: 35px;
                        padding-right: 35px;
                        position: relative;
                        overflow: hidden;
                        width: inherit;
                    }
                     .menu-anim li a:visited {
                       	border: none;
                    }
                    .menu-anim a:active {
                    	border: none;
                    }
                    
                    .menu-anim  a:hover{                 	
                    	border: none;
                    }
/*----------------------------------------------*/

/*------------------SUBMENU---------------------*/
.sub-menu{
	/*z-index:2;*/
	/*width: 610px;*/
	/*height: 50px;*/
	margin-top: 30px;
	margin-bottom: 20px;
	float:left;
	display:none;
	
}


.gender-picker{
	/*z-index:2;*/
	height: 30px;
	/*margin-top: 60px;*/
	
}
	.gender-picker img, .genderp{
		float: right;
		margin: 0 5px 0 5px;
		font-size: 15pt;
		font-family: "Gabriola";
		font-weight: bold;
		/*color: #58300c;*/	
		}
	.gender-picker .genderp {
		padding-top: 23px;
	}
	.gender-picker img {
		width:28px;
		height:57px;
	}
	
	.gender-picker .gdiv{
	height: 23px;
	float:left;
	cursor: pointer;
	margin-left:15px;
	color: #58300c;
	}

div .menu-div{
	 /*font-family: 'Arial Narrow', Arial, sans-serif;*/
	 font-size: 13pt;
	 font-family: "Gabriola";
	 font-weight: bold;
	 color: #58300c;
}


.sub-menu-anim {	
    position: relative;
   	/*margin: 0px auto;*/
   	/*border-bottom: 1px solid #C99C57;*/
    /*height: 30px;*/
    /*width: 600px;*/
    float:right;
    overflow: hidden;
        }
                .sub-menu-anim li {
                    float: right;
                    list-style: none;
                     border-bottom: 2px solid rgba(201,156,87,0.3);;
                }
                .sub-menu-anim li:hover {
                	-webkit-transition: border-color 0.5s ease;
			         -moz-transition: border-color 0.5s ease;
			           -o-transition: border-color 0.5s ease;
			          -ms-transition: border-color 0.5s ease;
			              transition: border-color 0.5s ease;
                    border-bottom: 2px solid rgba(201,156,87,0.9);;
                }
                .sub-menu-anim .current {
                    border-bottom: 2px solid #C68421;
                }
                
                    .sub-menu-anim li.back {
						border-bottom: 2px solid #C99C57;
                        width: 6px;
                        height: 28px;
                        z-index: 3;
                        position: absolute;
                        top:0%;
                    	margin-top: 0px;
                    }
                    
                    .sub-menu-anim li a {
                        /*font: 13px Tahoma, Geneva, sans-serif;*/
                        /*font-weight: bold;*/
                        text-decoration: none;
                        color: #383838;
                        text-align: center;
                        letter-spacing: 0;
                        z-index: 4;
                        display: block;
                        float: left;
                        height: 30px;
                        line-height: 30px;
                        padding-left: 15px;
                        padding-right: 15px;
                        position: relative;
                        overflow: hidden;
                        width: inherit;
                    }
                     .sub-menu-anim li a:visited {
                       	border: none;
                    }
                    .sub-menu-anim a:active {
                    	border: none;
                    }
                    
                    .sub-menu-anim  a:hover{                 	
                    	border: none;
                    }
/*----------------------------------------------*/
/*-----------------PANEL------------------------*/
div .panel-div {
	z-index: 5;
	color: #383838;	
	width: auto;
	height: 25px;
	margin:0 auto;
	/*margin-top: 10px;*/
	padding-right: 185px;
	font-family: "Gabriola"
}
div .panel-div > #profile {
		float: right;
		margin-top: 3px;
		font-size: 14pt;
}
div .panel-div > #profile-icon {
		float: right;
		width:20px;
		height:20px;
		background: url(../img/profile-full2.png) no-repeat center;
}
	/*div .panel-div > #profile-icon:hover {
		background: url(../img/profile-full2.png) no-repeat center;
	}*/
	
#profile p {
	float: left;
	/*color: #2d2d2d;*/
}
#profile .p-profile {
	cursor: pointer;
}

/*----------------------------------------------*/
/*-----------------PRODUCTS---------------------*/
.products {
	/*border-left: 1px solid black;
	border-right: 1px solid black;
	min-height: 800px;
	min-width: 1000px;*/
	overflow: hidden;
	padding-top: 20px;
	padding-bottom: 10px;
}
.imageContainer {
	width:	220px;
	height: 300px;
	display: block;
	overflow: hidden;
	position: relative;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #C99C57;
}
.imageContainer:hover ~ .imageConBig {
		display: block;
}


.product-info{
	position: relative;
	width:	220px;
	height: 400px;
	display: block;
	float: left;
	margin-left: 17px;
	margin-right: 17px;
	margin-top: 17px;
	font-family: "Gabriola";
}
	.product-info .imageConBig {
		position: absolute;
		display: none;
		width: 300px;
		height: 409px;
		z-index: 4;
		position: relative;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		border: 3px solid #C99C57;
		cursor: pointer;
	}
	
	.imageConBig .productImageBig {
		margin-top:-28px;
		padding: 0;
		width: 300px;
		height: 409px;
	}
	
	.imageConBig:hover {
		display: block;
	}
		.product-info > div#topleft{
			top: -335px;
			left: -15px;
		}
		.product-info > div#topright{
			top: -335px;
			left: -65px;
		}
		.product-info > div#botright{
			top: -358px;
			left: -65px;
		}
		.product-info > div#botleft{
			top: -358px;
			left: -15px;
		}
		.product-info > div#top{
			top: -335px;
			left: -40px;
		}
		.product-info > div#left{
			top: -355px;
			left: -15px;
		}
		.product-info > div#right{
			top: -355px;
			left: -65px;
		}
		.product-info > div#bot{
			top: -358px;
			left: -40px;
		}
		.product-info > div#middle{
			top: -355px;
			left: -40px;
		}
	
.productImage {
	position: absolute; 
	max-width: 220px;
	max-height: 300px;
}
.imageOverlay {
	width: 100%;
	height: 100%;
	background-color: rgba(201,156,87,0.4);
	z-index: 3;
	display: none;
	position: absolute;
}
.product-name {
	padding-top: 3px;
	margin-top: 7px;
	overflow: hidden;
	float: left;
	width: 150px;
	/*margin-bottom: 10px;*/
}
.product-price {
	margin-top: 5px;
	
	overflow: hidden;
	float: right;
	width: 70px;
} 
.product-price p {
	/*float: right;*/
	padding-top: 5px;
	overflow:hidden;
	margin-left: 10px;
	color: #58300c;
	font-size: 16pt;
}

	.product-price .promo {
		height: 21px;
	}
.product-name p{
	
	color: #C99C57;
	font-size: 16pt;	
}

.product-info p{
	/*font-size: 15px;*/
}
div .eye {
	/*height: 250px;*/
	height: 100%;
	background: url(../img/spyglass.png) no-repeat center;
	opacity: 0.5;
	
}
	div .eye:hover {
		opacity: 0.8;
		
	}

div .cart {
	float: right;
	margin-right: 5px;
	height: 50px;
	width: 50px;	
	background: url(../img/cart.png) no-repeat right;
	opacity: 0.5;
}
	div .cart:hover {
		opacity: 1;
		cursor: pointer;
	}

/*div .panel-div > #cart {
		background: url(../img/cart-big-dark.png) no-repeat center;
		width: 40px;
		height: 40px;
		float: left;

}*/
div .cart-div {
	height: 42px;
	/*margin-top: 10px;*/
	/*margin-right: -25px;*/
	float: right;
	cursor: pointer;
	border-bottom: 1px solid rgba(255,255,255,0);
}
	div .cart-div:hover {
		border-bottom: 1px solid black;
	}

.cart-div .cart-desc {
	float: left;
	font-size: 14pt;
	font-weight: bold;
	top: 50%;
	margin-top: 15px;
	color: #58300c;
	font-family: "Gabriola", "OpenSansRegular", Arial;
}

.cart-image{	
	width: 40px;
	height: 42px;
}

.cart-div .cart-image{
	float: left;
	margin-left:4px;
}

.cart-div .item-count {
	float: left;
	top: 50%;
	font-size: 11pt;
	margin-top: 15px;
	/*margin-left: -5px;*/ /*Old*/
	margin-left: -3px;
	color: 	;

}
	
.recommended {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	/*padding: 5px 5px 5px 5px;*/
	border-radius: 8px;
	/*border: 1px solid rgba(0,0,0,0.2);
	background: rgba(153,101,21,0.2);*/
	/*#996515*/
}
	.recommended .pdiscount, #shipping .pdiscount{
		padding: 5px 5px 5px 20px;
		font-family: "Gabriola", "OpenSansRegular", Arial;
		font-size: 18pt;
	}
	#shipping #t1 {
		font-family: "Gabriola";
		font-size: 20pt;
		/*font-weight: bold;*/
		margin-left: 10px;
		margin-top: 10px;
		color: #C99C57;
	}
		.recommended .pdiscount a, #shipping .pdiscount a{
			/*font-weight: bold;*/
			cursor: auto; 
			color: #C99C57;	
		}
#more a{
	float: right;
	padding: 5px 5px 5px 5px;
	font-family: "Gabriola", "OpenSansRegular", Arial;
	font-size: 22pt;
}

div.recommended .title{
	font-family: "Gabriola";
	font-size: 24pt;
	/*font-weight: bold;*/
	margin-left: 10px;
	margin-top: 10px;
	color: #C99C57;
}
.welcome {
	margin-top: 250px;
	height: 500px;
	background-color: red;
}

.itemMenu {
	overflow: hidden;
	width:1100px;
	margin-bottom: 5px;
	margin-top: 5px;
	font-family: "Gabriola", "OpenSansBold", Arial;
	font-weight: bold;
	font-size: 20pt;
}
	.itemMenu .pages {
		float:right;
	}
		.itemMenu .pages a{
			font-weight: normal;
			font-family: "OpenSansREgular", Arial;
			font-size: 12pt;
		}
	.itemMenu .sortBy {
		float:left;
	}
	
	.sortBy {
		font-size: 14pt;
		cursor: default;
		z-index: 4;
	}
	
	.sortBy .ele {
		display:inline-block;
		width: 190px;
		padding-top: 6px;
		height: 20px;
	}
	
	.sortBy {
	position: absolute;
	/*z-index: 3;*/
    width: 190px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	}
	.sortBy > ul { display: none; }
	.sortBy:hover > ul {display: block; background: #f7efca;opacity: 0.9; border-top: 1px solid gray; font-size: 12pt;}
	.sortBy:hover > ul > li { padding-left: 5px; border-bottom: 1px solid gray;}
	.sortBy:hover > ul > li:hover { background: white;}
	.sortBy:hover > ul > li:hover > a { color: #C99C57; }
	
	/*.sortBy select {		
	   text-overflow: '';
	   text-indent: 0.01px;
	   -moz-appearance: none;
	   -webkit-appearance: none;
	   border: 1px solid white;
	  background: rgba(153,101,21,0.2);
	   
   }
   .sortBy option {
   	border: none;
   }*/
	
	.itemMenu a {
		color: gray;
	}
/*----------------------------------------------*/




/* ITEMKSY ------------------------------------- */

#itemContainer {
	margin-top: 10px;
	width: 1100px;
	overflow: hidden;
}

#itemPhotoContainer {
	width: 510px;
	float: right;
	
}

#itemBigPhoto {
	padding-top: 15px;
	width: 510px;
	/*height: 500px;*/
	height: auto;
	/*background-color: rgba(0,0,0,0.3);*/
	text-align: center;
}

#itemBigPhotoImage {
	max-width: 500px;
	max-height: 500px;
	vertical-align: middle;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.photoThumbnails {
	/*position: absolute;*/
	margin-top: 30px;	
	margin-left: 8px;
}

div.photoThumbnails .outer{
	width: 100px;
	height: 100px;
	overflow: hidden;
	float: left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #C99C57;
	margin: 10px;
	cursor: pointer;
}

div.photoThumbnails .inner{
	display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
}

div.photoThumbnails img.galleryImgW{
	position: relative;
	height: 100px;
}

div.photoThumbnails img.galleryImgH{
	position: relative;
	width: 100px;
}

ul.thumbs {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	width: 500px;
}

.frame {
	position: absolute;
	margin-top: 100px;
	width: 106px;
	height: 106px;
	text-align: center; 
	margin: 0px;
	/*background-color: Red;*/
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

ul.thumbs li {
	float: left;
	padding: 0;
	margin: 8px;
	list-style: none;
	height: 106px;
	width: 106px;
	/*border-radius: 4px;*/
	/*-webkit-border-radius: 4px;*/
	/*-moz-border-radius: 4px;*/
	/*border-radius: 4px;*/
	/*border: 1px solid rgba(0,0,0,0.5);*/
}

ul.thumbs img {
	vertical-align: middle;
	max-width: 90px;
	max-height: 90px;
	position: relative;
	margin-left: -4px;;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	cursor: pointer;
}

div#itemDescriptionContainer {
	float: left;
	/*margin-left: 50px;*/
	width: 530px;
	/*background-color: rgba(255,255,255,0.5);
	border: 1px solid Gray;*/
	border-radius: 5px;
}

div#itemDescriptionContainer #container{
	margin-top: 20px;
	margin-left: 15px;
	margin-bottom: 20px;
}

 div#itemDescriptionContainer #cart{
	width: 160px;
	border-bottom: 1px solid transparent;
}

div#itemDescriptionContainer #cart:hover{
	border-bottom: 1px solid #58300c;	
}

div#itemDescriptionContainer #cart p{
	font-family: "Gabriola";
	font-weight: bold;
	color: #58300c;
	font-size: 14pt;
	position: absolute;
	margin-top: -25px;
	margin-left: 40px;
}

div#itemDescriptionContainer #cart .title{
	width: 200px;
}

 div#itemDescriptionContainer #questions{
	color: #58300c;
	margin-top: 20px;
	font-size: 9pt;
	font-family: "OpenSansRegular", Arial;
	cursor: pointer;
	width: 250px;
}

div#itemDescriptionContainer #questions #mark{
	font-size: 13pt;
	font-weight: bold;
	float: left;
	padding-right: 2px;
	margin-top: -3px;
}

div#itemDescriptionContainer #questionForm{
	margin-top: -232px;
	width: 420px;
	height: 230px;
	background-color: rgba(255,255,255,0.8);
	border: 1px solid Gray;
	position: absolute;
	visibility: collapse;
}

div#itemDescriptionContainer #questionForm #container{
	margin: 0px;
	padding: 5px;
}

div#itemDescriptionContainer #questionForm #container .row{
	height: 26px;
}

div#itemDescriptionContainer #questionForm #container .row2{
}

div#itemDescriptionContainer #questionForm #container p{
	font-family: "OpenSansRegular", Arial;
	font-size: 10pt;
	float: left;
	padding-top: 5px;
}
div#itemDescriptionContainer .qinfo{
	font-family: "OpenSansBold", Arial;
	font-size: 10pt;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 4px;F
}

div#itemDescriptionContainer #questionForm input[type="text"]{
	margin-left: 5px;
	padding-left: 3px;
	height: 16px;
}

div#itemDescriptionContainer #questionForm input[name="qmail"]{
	width: 290px;
}

div#itemDescriptionContainer #questionForm input[name="qsub"]{
	width: 351px;
}

div#itemDescriptionContainer #questionForm textarea{
	margin-left: 6px;
	margin-top: 2px;
	width: 356px;
	height: 100px;
	resize: none;
	padding-left: 3px;
}

div#itemDescriptionContainer #questionForm input[type="button"], div#itemDescriptionContainer #questionForm input[type="submit"]{
	margin-top: 6px;
	background-color: White;
	border: 1px solid gray;
	background: #FFFFFF;
	width: 80px;
	height: 20px;
	cursor: pointer;
}


div#itemDescriptionContainer #questionForm input[type="button"]:hover{
	border: 1px solid gray;
	background: #2d2d2d;
	color:#FFFFFF;
}

div#itemDescriptionContainer #questionForm input[name="send"]{
	margin-left: 236px;
	margin-right: 5px;
}

.desctop {
	width: 430px;
	min-height: 25px;
	font-family: "OpenSansRegular", "OpenSansBold", Arial;
	font-weight: normal;
}
.desctopleft {
	float: left;
	width: 330px;
}
.desctopright {
	float: right;
	width: 100px;
}
#itemTitle {
	font-size: 16pt;
	border-left: 3px solid #C99C57;
	padding-left: 8px;
	color: #58300c;
	font-weight: bold;
	font-family: "Gabriola";
}
.pprice {
	font-family: "Gabriola";
	float: right;
	margin-right: 15px;
	font-size: 17pt;
	color: #58300c;
}
.ppricepromo {
	font-family: "Gabriola";
	color: #58300c;
	font-size: 15pt;
	margin-right: 15px;
	text-align: right;
}
.ppricenewpromo {
	font-family: "Gabriola";
	font-size: 17pt;
	text-align: right;
	margin-right: 15px;
	color: #58300c;
}
#itemDescription {
	color: #383838;
	margin-top: 30px;
	font-size: 10pt;
	font-family: "OpenSansRegular", Arial;
	line-height: 140%;
}

#itemSizes, #itemColors{
	/*float: left;*/
	font-size: 9pt;
	width: 500px;
	overflow: hidden;
}

#itemColors{
	margin-bottom: 10px;
}

div#itemSizes #title{
	margin-top: 30px;
	margin-bottom: 6px;
}

div#itemColors #title{
	margin-bottom: 6px;
}

div#itemSizes .sizeBox{
	margin-top: 8px;
	margin-bottom: 30px;
	float: left;
}

div#itemSizes .sizeBox .title{
	padding-bottom: 5px;
}

/*.styled-select select {
   	background: transparent;
   	width: 106px;
   	padding: 5px;
   	font-size: 9pt;
   	line-height: 1;
   	border: 0;
   	border-radius: 0;
   	height: 26px;
   	-webkit-appearance: none;
   	-moz-appearance: none;
   	appearance: none;
   }*/
.styled-select select{
	width:100px;
	height: 22px;
    padding:2px;
     background: #f8f8f8;
    color:#888;
    border: 1px solid #888;
    /*border:none;*/
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}


/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

.styled-select label {position:relative}
.styled-select label:after {
    content:'>';
    font:13px "Consolas", monospace;
    font-weight: bold;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:6px; top:-2px;
    padding:2px;
    border-bottom:1px solid #888;
    position:absolute;
    pointer-events:none;
}
.styled-select label:before {
    content:'';
    right:3px; top:-2px;
    width:26px; height:18px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}

.styled-select {
	float: left;
  	width: 100px;
	height: 26px;
  	overflow: hidden;
  	margin-right: 2px;
}

/*BIG*/
.styled-select-big select{
	width:200px;
	height: 22px;
    padding:2px;
     background: #f8f8f8;
    color:#888;
    border: 1px solid #888;
    /*border:none;*/
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}


/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

.styled-select-big label {position:relative}
.styled-select-big label:after {
    content:'>';
    font:13px "Consolas", monospace;
    font-weight: bold;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:6px; top:-2px;
    padding:2px;
    border-bottom:1px solid #888;
    position:absolute;
    pointer-events:none;
}
.styled-select-big label:before {
    content:'';
    right:6px; top:-2px;
    width:26px; height:18px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}

.styled-select-big {
	float: left;
  	width: 200px;
	height: 26px;
  	overflow: hidden;
  	/*margin-right: 2px;*/
}

/*shipping select*/

.styled-select-shipping select{
	/*width:270px;*/
	height: 22px;
    padding:2px;
     background: #f8f8f8;
    color:#888;
    border: 1px solid #888;
    /*border:none;*/
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
   	font-family: "OpenSansRegular", Arial;

}


/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

.styled-select-shipping label {position:relative}
.styled-select-shipping label:after {
    content:'>';
    font:13px "Consolas", monospace;
    font-weight: bold;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:6px; top:-2px;
    padding:2px;
    border-bottom:1px solid #888;
    position:absolute;
    pointer-events:none;
}
.styled-select-shipping label:before {
    content:'';
    right:6px; top: 2px;
    width:20px; height:18px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}

.styled-select-shipping {
	float: left;
  	/*width: 270px;*/
	height: 26px;
  	overflow: hidden;
  	/*margin-right: 2px;*/
}


div#itemDescriptionContainer #connections{
	width: auto;
	margin-left: 10px;
}

div#itemDescriptionContainer #connections .Title{
	width: 400px;
	margin: 5px;
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 17pt;
	font-weight: normal;
	font-family: "Gabriola";
	color: #C99C57;
}

div.connectionBox{
	width: 130px;
	height: 220px;
	/*background-color: Gray;*/
	float: left;
	margin-right: 5px;
}

img.connectionImg{
	margin-left: 10px;
	height: 150px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	/*border: 1px solid #C99C57;*/
	
}

div.connectionBox .connectionTitle{
	font-size: 14pt;
	margin-top: 3px;
	text-align: center;
	font-family: "Gabriola";
	color: #58300c;
}

/* --------------------------------------------- */
/* FORM -------------------------------------- */
.form-text-input {
	width: 300px;
	height: 25px;
	padding-left: 5px;
}

.form-text-input-s {
	width: 135px;
	height: 25px;
	padding-left: 5px;
}


.formdiv {
	display:block;
	margin-top: 5px;
	/*margin-bottom: 22px;*/
	overflow: auto;
}

	.formdiv p {
		font-family: "OpenSansRegular", Arial;
		font-size: 10pt;
		margin-bottom: 5px;
		padding-left: 1px;
	}
	
	.formdiv li {
		font-family: "OpenSansRegular", Arial;
		font-size: 10pt;
		margin-bottom: 10px;
		margin-top: 9px;
	}
	
	form .errordiv{
		font-family: "OpenSansRegular", Arial;
		color: #633b07;
		height:15px;
		padding-top: 3px;
		padding-left: 2px;
		font-size: 8pt;
	}
	
.formdivcolumn {
	float:left;
}
	.formdivcolumn p{
		/*margin-top: 8px;*/
	}
	.formdivcolumn input[type="checkbox"]{
		margin-top: 8px;
	}

.form-button {
	border: 1px solid gray;
	width: 100px;
	height: 28px;
	background: #FFFFFF;
	cursor: pointer;
}
	.form-button:hover {
		border: 1px solid gray;
		background: #2d2d2d;
		color:#FFFFFF;
	}

#pback {
	float: right;
	/*color: gray;*/
	margin-top: 7px;
}
/* --------------------------------------------- */
/* LOGREG -------------------------------------- */
.logreg-div {
	width: 1000px;
	margin: 0 auto;
	height: auto;
	overflow:hidden;
	/*border: 1px solid gray;*/
	margin: 0px 50px 80px 50px;
}

.logreg-div h2{
	font-size: 16pt;
}
.log-div, .reg-div{
	float: left;
	width: 320px;
	padding: 40px 80px 27px 40px;
	margin: 40px 0px 27px 40px;	
}
.log-div {
	border-right: 1px solid gray;
}
#logcheckbox, #logpcheckbox {
	float: right;
}

#logpcheckbox {
	margin-top: 8px;
}

#log-logo {
	/*margin-bottom:30px;*/
	margin: 20px 0 0 45px;
}

.logfiller {
	z-index: 2;
	position: absolute;
	left: 50%;
	margin-left: -530px;
	width: 1100px;
	top: 0%;
	margin-top: 80px;
	height: 700px;
	background: url(../img/needle2.png) no-repeat center;
}


/* --------------------------------------------- */
/* --REGISTER----------------------------------- */
/*#street, #divstreet {
	width: 195px;
}*/

#divpcode {
	width: 70px;
	float: right;
}

#divstrt {
	width: 142px;
	float: left;
}
#divnbr1, #divnbr2{
	width: 70px;
	float: left;
}
#divnbr2{
	margin-left: 20px;
	margin-right: 8px;
}

#pcode {
	width: 58px;
}
#street {
	width: 142px;
}
#pnra, #pnrh {
	width: 60px;
}
#citydiv, #cityinput {
	width: 195px;
}

.register-div {
	/*float:left;*/
	width: 312px;
	margin: 0px auto;
	
}
.needle {
	float: left;
}

#lastname {
	float: right;
}

.regfiller {
	z-index:2;
	position: absolute;
	left: 50%;
	margin-left: -370px;
	width: 740px;
	top: 0%;
	margin-top: 80px;
	height: 760px;
	background: url(../img/needle2.png) no-repeat center;
	
}

.updaterightCol {
	float:right;
}
.updateleftCol {
	float:left;
}

#phead {
	width: 300px;
	height: 30px;
}
	#phead h2 {
		float:left;
	}
	
	#phead a {
		margin-top: 5px;
		font-size: 10pt;
	}
	#phead #em {
		margin-top: 5px;
		font-size: 10pt;
		float: left;
		cursor:default;
	}
	#phead #or {
		margin-top: 5px;
		font-size: 10pt;
		float: right;
	}

.emailUpdate, .passwordUpdate{
	margin-top: 151px;
	margin-left: 50px;
	padding-left: 50px;
	border-left: 1px solid gray;
}
	.emailUpdate{
		margin-top: 35px;
	}
/* CART----------------------------------------- */
.product-row {
	height: auto;
   overflow: hidden;
}
	.product-row p {
		margin: 0 auto;
		text-align: center;
	}
#top-row {
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: 1px solid gray;
	width:1000px;
}

.cart-fill {
	margin-top: 20px;
	margin-left: -5px;
	width: 1100px;
	height: auto;
	overflow: hidden;
	background-color: rgba(255,255,255,0.5);
	border: 1px solid rgba(0,0,0,0.1);
}
	#top-row p {
		font-size: 10pt;
		/*width: 100px;*/
	}
#emptyCart p {
	font-family: "Gabriola", "OpenSansBold";
	font-size: 20pt;
}

.cartbg {
	position: fixed;
	z-index: 3;
	background-color: rgba(255,255,255,0.7);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display:none;
}
.cartInfoZ {
	position: absolute;
	padding: 25px 25px 25px 25px;
	z-index: 5;
	width: 500px;
	height: 240px;
	left: 50%;
	margin-left: -250px;
	top: 50%;
	margin-top:  -150px;
	display: none;
	background-color: rgba(255,255,255,0.9);
	border: 1px solid black;
}
	.cartInfoZ img {
		margin-top: 115px;
		margin-left: 170px;
	}	
.cartInfoDiv {
	position: absolute;
	padding: 25px 25px 25px 25px;
	z-index: 4;
	width: 500px;
	height: 240px;
	left: 50%;
	margin-left: -250px;
	top: 50%;
	margin-top:  -150px;
	display: none;
	background-color: white;
	border: 1px solid black;
}
.cartInfoDiv .title {
	width: 500px;
	text-align: center;
	font-size: 24pt;
	font-family: "Gabriola";
	margin-bottom: 10px;
}
.cartInfoDiv .back {
	width: 500px;
	text-align: right;
	font-size: 24pt;
	font-family: "Gabriola";
	margin-bottom: 10px;
}
.cartInfoDiv .cartInfoLeft, .cartInfoDiv .cartInfoRight {
	float: left;
	width: 230px;
	text-align: center;
}
.cartInfoDiv .cartInfoRight {
	border-left: 1px solid black;
	margin-left: 10px;
	padding-left: 9px;
}	
	.cartInfoDiv #info {
		overflow: hidden;
		font-size: 14pt;
		font-family: "OpenSansRegular";
		margin-bottom: 30px;
			
	}
	.cartInfoDiv #info div{
		text-align: center; 
		font-size: 10pt;		
	}
	.cartInfoLeft #info {
		margin-bottom: 17px;
			
	}
	.cartInfoDiv #info2 {
		height: 60px;
		overflow: hidden;
		font-size: 10pt;
		font-family: "OpenSansRegular";
		margin-bottom: 30px;
			
	}
	.cartInfoDiv #buttons {
		overflow: hidden;
		font-size: 10pt;
		height: 40px;
		cursor: pointer;
	}
		.cartInfoDiv #buttons .left{
			float: left;
			font-size: 10pt;
			margin-top: 10px;
		}
		.cartInfoDiv #buttons #other{
			font-family: "Gabriola";
			font-size: 22pt;
		}

#cartInfoOrders {
	position: absolute;
	padding: 25px 25px 25px 25px;
	z-index: 4;
	width: 500px;
	height: 120px;
	left: 50%;
	margin-left: -250px;
	top: 50%;
	margin-top:  -150px;
	display: none;
	background-color: white;
	border: 1px solid black;
}	
	#cartInfoOrders #info {
		overflow: hidden;
		font-size: 22pt;
		font-family: "Gabriola";
		margin-bottom: 30px;
			
	}
	#cartInfoOrders #buttons {
		overflow: hidden;
		font-size: 10pt;
	}
		#cartInfoOrders #buttons #left{
			margin-top: 12px;
			float: left;
			cursor: pointer;
		}
		#cartInfoOrders #buttons #right{
			float: right;
			cursor: pointer;
		}
		
.cartInfoZX {
	position: absolute;
	padding: 25px 25px 25px 25px;
	z-index: 5;
	width: 500px;
	height: 120px;
	left: 50%;
	margin-left: -250px;
	top: 50%;
	margin-top:  -150px;
	display: none;
	background-color: rgba(255,255,255,0.9);
	border: 1px solid black;
}
	.cartInfoZX img {
		margin-top: 55px;
		margin-left: 170px;
	}
		
#bot-row {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 5px;
	height: 35px;
	border-top: 1px solid gray;
	float: right;
	margin-right: 50px;
}
	#bot-row p {
		font-size: 10pt;
		width: 145px;
	}
	#bot-row a {
		font-family: "OpenSansBold", Arial;
		font-size: 8pt;
	}

	#cartSubmit {
		cursor: pointer;
	}
	/*#bot-row .sum {
		float: left;
	}
	#bot-row .sum-money {
		float: right;
	}*/

#middle-row {
	margin: 0 auto;
	margin-top: 8px;
	margin-bottom: 8px;
	min-height: 20px;
	padding-bottom: 4px;
	width:1000px;
}

	#middle-row p {
		font-size: 10pt;
		margin-top: 3px;
		font-family: "OpenSansRegular", Arial;

	}
	#middle-row input[type="text"] {
		height:10px;
		width: 20px;
		margin-left: 37px;
		text-align: center;
	}
#emptyCart {
	height: 50px;
   overflow: hidden;
}
	#emptyCart p {
		margin: 0 auto;
		margin-top: 15px;
		text-align: center;
	}

.product-row  div{
	float: left;
}
.column-name{
	width: 250px;
}
	.column-name p {
		width: 150px;
	}
.column-size{
	width: 150px;
}
.column-fill{
	width: 200px;
}
.column-color{
	width: 100px;
}
.column-price{
	width: 100px;
}
.column-quantity{
	width: 100px;
}
.column-shipping{
	width: 300px;
}


.column-price-all{
	width: 148px;
}


		#complPrice{
			width: 105px;
			float: left;
		}
		 #disc{
		 	margin-top: 3px;
		 	padding-top: 3px;
			width: 45px;
			float: left;
			color: green;
		}
.column-remove, .column-submit{
	width: 150px;
}
/* --------------------------------------------- */
/* SUMMARY-------------------------------------- */
.column-name1{
	width: 150px;
}
.column-name2{
	width: 150px;
}
.column-address{
	width: 400px;
}
.column-phone{
	width: 150px;
}
/* --------------------------------------------- */

#frame1 {
	position: absolute;
	margin-top: -397px;
	margin-left: -150px;
	/*z-index: 20;*/
}
/*---------------------ORDERS------------------- */
.oinfo {
	margin: 0 auto;
	width:700px;
	font-size: 10pt;
}
#top-row-o, #top-row-os {
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: 1px solid gray;
	width:800px;
}

#top-row-os {
	width: 850px;
}
	#top-row-o p, #top-row-os  p {
			font-size: 10pt;
			
		}

	#top-row-o .column-price, #top-row-o .column-quantity {
		width: 150px;
	}
		
#middle-row-o, #middle-row-os {
	margin: 0 auto;
	margin-top: 8px;
	margin-bottom: 8px;
	min-height: 20px;
	padding-bottom: 4px;
	width:800px;
}

	#middle-row-o .column-price, #middle-row-o .column-quantity {
		width: 150px;
	}
	#middle-row-o .column-pay, #middle-row-o .column-cancel {
		width: 50px;
	}

#middle-row-os {
	width: 850px;
}

	#middle-row-o p, #middle-row-os p {
		font-size: 10pt;
		margin-top: 3px;
		font-family: "OpenSansRegular", Arial;

	}
	#middle-row-o input[type="text"], #middle-row-os input[type="text"] {
		height:10px;
		width: 20px;
		margin-left: 63px;
		text-align: center;
	}
#bot-row-os {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 5px;
	height: 40px;
	border-top: 1px solid gray;
	/*float: right;*/
	overflow: hidden;
	width: 248px;
	margin-left: 727px;
	/*margin-right: 125px;*/
}
#bot-row-oss {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 5px;
	height: 40px;
	border-top: 1px solid gray;
	float: right;
	margin-right: 125px;
	text-align: center;
}
		#bot-row-oss p {
			font-size: 10pt;
			width: inherit;
		}
		#bot-row-oss #pshipping {
			width: auto;
		}
	
#bot-row-o {
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 5px;
	height: 20px;
	border-top: 1px solid gray;
	width:700px;
}
	#bot-row-o .column-price, #bot-row-o .column-quantity {
			width: 150px;
	}
#bot-row-o div {
	float: right;
}

	#bot-row-os p, #bot-row-o p {
		font-size: 10pt;
		width: inherit;
	}
	
	#bot-row-os a, #bot-row-o a, #bot-row-oss a {
		font-family: "OpenSansBold", Arial;
		font-size: 8pt;
	}
/* ---------------------------------------------- */
/* GALLERY -------------------------------------- */
input[name="goBack"]{
	background-color: rgba(153,101,21,0.5);
	color: rgba(255,255,255,0.8);
	border: none;
	cursor: pointer;
	height: 22px;
	width: 50px;		
}

div#gallery{
	/*margin-top: 0px;	*/
}

div#gallery #title{
	font-family: "Gabriola";
	/*font-weight: bold;*/
	font-size: 24pt;
	padding-left: 10px;
	padding-top: 10px;
	color: #C99C57;
}

div#gallery #buttons{
	width: 100px;	
}

div#gallery #container{
	margin-top: 20px;
}

div#gallery #container .box{
	width: 700px;
	height: 400px;
	/*background-color: Green;*/
	margin: 0px auto;
	margin-bottom: 40px;	
}

div#gallery #container .box img.boxImg{
	max-width: 700px;
	max-height: 370px;
	display: block;
    margin: auto;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #C99C57;
}

div#gallery #container .box .title{
	text-align: center;
	padding-top: 8px;
	font-family: "Gabriola";
	font-size: 18pt;
	color: #C99C57;
}

div#gallery #container img{
		
}

div#gallery #container img.galleryImgW{
	position: relative;
	height: 200px;
}

div#gallery #container img.galleryImgH{
	position: relative;
	width: 200px;
}

div#gallery #container .outer{
	width: 200px;
	height: 200px;
	overflow: hidden;
	float: left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #C99C57;
	margin: 10px;
}

div#gallery #container .inner{
	display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
}
/*div#gallery #container .box{
	background-color: Green;
	height: 430px;
	width: 400px;
	float: left;
	margin: 10px;
	margin-top: 20px;
	
}

div#gallery #container .box img.boxImg{
	max-width: 400px;
	max-height: 400px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #C99C57;
}

div#gallery #container .box .title{
	padding-left: 10px;
	padding-top: 10px;
	font-family: "Gabriola";
	font-size: 18pt;
	color: #C99C57;
}*/

/* ABOUT PAGE CONTENT /////////////////////////////////////// */
div#aboutContent{
	font-family: "OpenSansRegular";
}
div#aboutContent #title{
	font-family: "Gabriola";
	font-size: 24pt;
	/*font-weight: bold;*/
	margin-left: 10px;
	margin-top: 10px;
	color: #C99C57;
}
/* ////////////////////////////////////////////////////////// */
/* PAYMENTS PAGE CONTENT //////////////////////////////////// */
div#paymentsContent{
	font-family: "OpenSansRegular";
}
div#paymentsContent #title{
	font-family: "Gabriola";
	font-size: 24pt;
	/*font-weight: bold;*/
	margin-left: 10px;
	margin-top: 10px;
	color: #C99C57;
}
/* ////////////////////////////////////////////////////////// */
/* INDEX PAGE /////////////////////////////////////////////// */
div#welcome #title{
	width: 1000px;
	margin-top: 8px;
}
div#welcome #title h1{
	font-family: "Gabriola";
	font-size: 24pt;
	color: #58300c;
	text-align: center;
}
div#welcome #subTitle p{
	font-family: "Gabriola";
	font-size: 18pt;
	margin-left: 410px;
	color: #58300c;
}

div#welcome #pickMenu{
	width: 1000px;
	height: 300px;
	/*background-color: Red;*/
	margin-left: 10px;
}

div#welcome #pickMenu #p2{
	width: 350px;
	height: 250px;
	background: url("../img/picker22.png") no-repeat;
	margin-left: 500px;
}

div#welcome #pickMenu #p1{
	width: 350px;
	height: 250px;
	background: url("../img/picker11.png") no-repeat;
	position: absolute;
	margin-left: 150px;
}
/* ////////////////////////////////////////////////////////// */
.confContainer {
	width: 1100px;
	margin: 0 auto;
}
.confContainer .lastline {
	float: right;
	width: 600px;
	margin-right: 125px;
	
}
.confContainer .lastline div {
	float:right;
	margin-left: 40px;
	font-family: "OpenSansRegular";
	font-size: 12pt;
	margin-top: 5px;
}

#orderConfirmation {
	font-family: "Gabriola";
	font-size: 22pt;
	margin-top: 0px;	
	
}
.confContainer .lastline .notaccepted {
	text-decoration: line-through;
	color: black;
}
.confContainer .lastline .accepted {
	text-decoration: none;
	color: #C99C57;
	cursor: pointer;
}

.usrdatawrapper {
	width: 800px;
	margin: 0 auto;
	overflow: hidden;
}
.usrdatawrapper .info {
	float: left;
	font-family: "Gabriola";
	font-size: 32pt;
	margin-top: 138px;
}

.confusrdata {
	width: 311px;
	float: right;
}
