{% extends "admin/base.html" %}

{% block title %}
Dodawanie nowego przedmiotu
{% endblock %}

{% block script %}
<script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
	tinymce.init({
        mode: "textarea",
        selector:"textarea",
        height: 400,
        width: 1000,
        resize: false,
        plugins: [
            "advlist autolink lists link image textcolor"
        ],
        toolbar: "bold | italic | underline | strikethrough | alignleft | aligncenter | alignright | alignjustify | styleselect | formatselect | fontselect | fontsizeselect | forecolor | bullist | numlist | outdent | indent | blockquote | undo redo | removeformat | subscript | superscript",
        content_css: "/css/fonts.css,/css/content.css",
        // font_size : "8pt,10pt,12pt,14pt,16pt,18pt,20pt,24pt,32pt,36pt",
        font_formats: "OpenSans=OpenSansRegular;"+
        "Gabriola=Gabriola;"+
        "Andale Mono=andale mono,times;"+
        "Arial=arial,helvetica,sans-serif;"+
        "Arial Black=arial black,avant garde;"+
        "Book Antiqua=book antiqua,palatino;"+
        "Courier New=courier new,courier;"+
        "Georgia=georgia,palatino;"+
        "Helvetica=helvetica;"+
        "Impact=impact,chicago;"+
        "Tahoma=tahoma,arial,helvetica,sans-serif;"+
        "Terminal=terminal,monaco;"+
        "Times New Roman=times new roman,times;"+
        "Trebuchet MS=trebuchet ms,geneva;"+
        "Verdana=verdana,geneva;"+
        "Webdings=webdings;"+
        "Wingdings=wingdings,zapf dingbats",
    });

    $(function () {
        showPreview();

        $("input[name='categoryRoot']").change(function () {
            $('.categoryLevel_2').each(function () {
                $(this).hide();
            });
            $('#category_' + $(this).val()).show();
        });
    });
</script>
{% endblock %}

{% block content %}
<input type="button" onclick="history.go(-1)" value="Powrót" />
<div id="newItem">
    <form action="" method="POST" enctype="multipart/form-data">
        <div id="name">
            <div class="label">Nazwa przedmiotu:</div>
            <input id="name" name="name" type="text" value="" />
        </div>

        <div id="description">
            <div class="label">Opis przedmiotu:</div>
            <p>
                <textarea name="description" cols="50" rows="15">Opis nowego przedmiotu.</textarea>
            </p>
        </div>

        <div id="price">
            <div class="label">Cena przedmiotu</div>
            <input id="price" name="price" type="text" value="0.00"/> zł.
        </div>

        <div id="size">
            <div class="label">Wybierz rozmiar</div>
            <div id="test">
                {% for size in sizes.sub_params %}
                <div class="box">
                    <div class="sizeOf" id="sizeOf_{{ size.id }}">
                        {{ size.name }}
                    </div>
                    {% for sub_size in size.sub_params %}
                    <input type="checkbox" class="sizeCheckbox" name="pickSize[]" value="{{ sub_size.id }}">{{ sub_size.name }}<br />
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

            <div id="sizes">
            </div>
        </div>

        <div id="colors">
            <div class="label">Wybierz kolor</div>
            {% for color in colors.sub_params %}
            <input type="checkbox" name="pickColor[]" value="{{ color.id }}" />{{ color.name }}<br />
            {% endfor %}
        </div>

        <div id="category">
            <div class="label">Wybierz kategorię</div>
            <div id="categoryLevel_0">
                {% for cat in categories %}
                <input type="radio" value="{{ cat.id }}" name="categoryRoot">{{ cat.name }}<br />
                {% endfor %}
            </div>
            {% for cat in categories %}
            <div class="categoryLevel_2" id="category_{{ cat.id }}" style="display: none;">
                {% for sub_cat in cat.sub_categories %}
                <input type="radio" value="{{ sub_cat.id }}" name="categoryToPost">{{ sub_cat.name }}<br />
                {% endfor %}
            </div>
            {% endfor %}
        </div>

        <div id="photos">
            <div class="label">Wybierz zdjęcia:</div>
            <input name="userfile[]" id="image-input" type="file" multiple="multiple" accept="image/*">
            <div class="preview-area"></div>
        </div>
        <input type="hidden" name="action" value="addItem" />
        <input type="submit" name="submit" value="Dalej" />
    </form>
</div>
{% endblock %}
