{% extends 'admin/base.html' %}

{% block title %}
Utwórz nową galerię
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(function () {
        showPreview();
    });
</script>
{% endblock %}

{% block content %}
<input type="button" onclick="history.go(-1)" value="Powrót" />
<div id="newGallery">
    <form action="{{ url_for('admin.add_gallery') }}" method="POST" enctype="multipart/form-data">
        <div id="name">
            <div class="label">Tytuł galerii:</div>
            <input id="name" name="name" type="text" value="" />
        </div>

        <div id="photos">
            <div class="label">Wybierz zdjęcia:</div>
            <input name="userfile[]" id="image-input" type="file" multiple="multiple" accept="image/*" />
            <div class="preview-area"></div>
        </div>
        <input type="hidden" name="action" value="add" />
        <input type="submit" name="submit" value="Dalej" />
    </form>
</div>
{% endblock %}
