<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/css/cms2.css" type="text/css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/js/app.js" type="text/javascript"></script>
    <title>{% block title %}Asanti - cms{% endblock %}</title>
    {% block script %}{% endblock %}
</head>

<body>
	<div id="siteContainer">
		<a href="/"><div>GO TO SHOP</div></a>
		<div id="header">
            <div id="title">ASANTI CMS</div>
            <div id="subTitle">{{ self.title() }}</div>
        </div>

		<div id="container">
			<div id="leftMenu">
                <p class="title"><a href="{{ url_for('admin.items') }}">Przedmioty</a></p>
                <ul class="navigation">
                    <li><a href="{{ url_for('admin.add_item') }}">Dodaj przedmiot</a></li>
                </ul>
                <p class="title"><a href="{{ url_for('admin.categories') }}">Kategorie</a></p>
                <p class="title"><a href="{{ url_for('admin.sizes') }}">Rozmiary</a></p>
                <p class="title"><a href="{{ url_for('admin.colors') }}">Kolory</a></p>
                <p class="title"><a href="{{ url_for('admin.connections') }}">Powiązane</a></p>
                <p class="title"><a href="{{ url_for('admin.shipping') }}">Dostawa</a></p>
                <p class="title"><a href="{{ url_for('admin.gallery') }}">Galeria</a></p>
                <p class="title"><a href="{{ url_for('admin.promotions') }}">Promocje</a></p>
                <p class="title"><a href="{{ url_for('admin.discounts') }}">Rabaty</a></p>
                <p class="title">Strony</p>
                <ul class="navigation">
                    <li><a href="pages.php?page=about">O nas</a></li>
                    <li><a href="pages.php?page=payments">Płatności</a></li>
                    <li><a href="pages.php?page=regulations">Regulamin</a></li>
                    <li><a href="pages.php?page=contact">Kontakt</a></li>
                    <li><a href="background.php">Tło</a></li>
                </ul>
                <p class="title"><a href="{{ url_for('admin.orders') }}">Zamówienia</a></p>
                <p class="title"><a href="users.php">Użytkownicy</a></p>
                <p class="title"><a href="{{ url_for('main.logout') }}">WYLOGUJ SIĘ</a></p>
			</div>

			<div id="rightContent">
                <div id="container">
                    {% block content %}{% endblock %}
                </div>
			</div>
            <div id="footer">ASANTI CMS FOOTER</div>
        </div>
    </div>
</body>
</html>
