{% extends "admin/base.html" %}

{% block title %}
Edytuj kategorie
{% endblock %}

{%- block script %}
<script type="text/javascript">
    $( document ).ready(function() {
        editPool();
        addCategory();
        deleteCategory();
        changeActiveCategory();
        $("#confirmAlert").hide();
    });
</script>
{%- endblock %}

{% block content %}
<div id="editCategories">
    <div id="confirmAlert">Zmieniono nazwę.</div>
    <form action="" method="POST" enctype="multipart/form-data">
        <div id="category">
            <div class="label">Wybierz kategorię</div>
            {% for cat in categories %}
            <div class="box">
                <div class="cl1" id="cl1_{{ cat.id }}">
                    <div class="container">
                        <input type="text" class="editTextbox" id="cat_{{ cat.id }}" value="{{ cat }}" />
                    </div>
                    <div class="buttons">
                        <input type="button" class="edit" id="edit_{{ cat.id }}" value="Zmień" />
                    </div>
                </div>

                {% for sub_cat in cat.sub_categories %}
                <div class="cl2" id="cat_{{ sub_cat.id }}">
                    <input type="text" class="editTextbox" id="cat_{{ sub_cat.id }}" value="{{ sub_cat }}" />
                    <div class="buttons">
                        <input type="button" class="edit" id="edit_{{ sub_cat.id }}" value="Zmień" />
                        <input type="button" class="delete" id="delete_{{ sub_cat.id }}" value="Usuń" />
                        <div class="squaredOne">
                            <input type="checkbox" value="None" {% if sub_cat.active %}checked{% endif %}
                                   class="squaredOneCheckbox" id="squaredOne{{ sub_cat.id }}" name="check" />
                            <label for="squaredOne{{ sub_cat.id }}"></label>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <input type="text" class="newCategoryTextbox" id="newCategory_{{ cat.id }}" value="" />
                <div class="buttons">
                    <input type="button" class="add" id="add_{{ cat.id }}" value="Dodaj kategorię" />
                </div>
            </div>
            {% endfor %}
        </div>
    </form>
</div>
{% endblock %}
