{% extends 'admin/base.html' %}

{% block title %}
Edytuj kolory
{% endblock %}

{% block script %}
<script type="text/javascript">
$( document ).ready(function() {
    editParamOfPool();
    deleteParam();
    addNewParamValue();
});
</script>
{% endblock %}

{% block content %}
<div id="editColors">
    <form action="" method="POST" enctype="multipart/form-data">
        <div id="addNew">
            <div class="label">Dodaj nowy</div>
            <div id="name">
                <div class="title">Nazwa:</div>
                <input id="newSize_{{ parent.id }}" type="text" name="name"/>
            </div>
            <input type="button" id="add_{{ parent.id }}" class="add" name="addNew" value="Dodaj nowy" />
        </div>
    </form>
    <div id="confirmAlert">Zmieniono kolor</div>
        <form action="" method="POST" enctype="multipart/form-data">
            <div id="colors">
                <div class="label">Kolory</div>
                {% for color in colors %}
                <div class="cRow">
                    <input type="text" id="value_{{ color.id }}" value="{{ color.name }}"/>
                    <input type="button" class="edit" id="edit_{{ color.id }}" value="Zmień" />
                    <input type="button" class="delete" id="delete_{{ color.id }}" value="Usuń" />
                </div>
                {% endfor %}
            </div>
        </form>
    </div>
</div>
{% endblock %}
