{% extends 'admin/base.html' %}

{% block title %}
Przedmioty powiązane
{% endblock %}

{% block content %}
<div id="sets">
    <div id="filters">
        <div class="filter">
            kategoria
            <select id="categoryFilter">
                <option value="all">wszystkie</option><option value="4">dziewczynka</option><option value="5">chłopiec</option><option value="10">chłopiec  |  komplety zimowe</option><option value="31">dziewczynka  |  ho ho ho...czyli święta tuż tuż</option><option value="19">dziewczynka  |  płaszczyki </option><option value="33">chłopiec  |  wyprawki dla niemowląt</option><option value="22">dziewczynka  |  bolerka </option><option value="6">dziewczynka  |  komplety na chrzest</option><option value="35">chłopiec  |  słodkich snów...czyli pościele dla maluchów</option><option value="25">chłopiec  |  garniturki</option><option value="8">dziewczynka  |  kapleusiki, czapeczki, chusteczki </option><option value="30">dziewczynka  |  opaski</option><option value="11">chłopiec  |  czapeczki, buciki</option><option value="32">chłopiec  |  kocyki</option><option value="21">dziewczynka  |  buciki </option><option value="34">dziewczynka  |  słodkich snów</option><option value="23">dziewczynka  |  kocyki, rożki </option><option value="7">dziewczynka  |  sukienki na chrzest...i nie tylko</option><option value="36">dziewczynka  |  poduszki do karmienia</option><option value="29">dziewczynka  |  kolorowo i wygodnie </option></select>
            Sortuj wg:
            <select id="sort">
                <option value="ASC__itemName">Nazwy a-z</option>
                <option value="DESC_itemName">Nazwy z-a</option>
                <option value="ASC__categoryName">Kategorii a-z</option>
                <option value="DESC_categoryName">Kategorii z-a</option>
                <option value="ASC__connections">Powiązań rosnąco</option>
                <option value="DESC_connections">Powiązań malejąco</option>
            </select><div class="pages"><a id="page_1" href="connections.php?page=1&amp;category=all&amp;sortBy=&amp;direction=">1</a> <a id="page_2" href="connections.php?page=2&amp;category=all&amp;sortBy=&amp;direction=">2</a> <a id="page_3" href="connections.php?page=3&amp;category=all&amp;sortBy=&amp;direction=">3</a> <a id="page_4" href="connections.php?page=4&amp;category=all&amp;sortBy=&amp;direction=">4</a> <a href="connections.php?page=2&amp;category=all&amp;sortBy=&amp;direction=">»</a> </div></div>
    </div>
    <table id="setsTable">
        <tbody><tr class="header"><td class="name">Nazwa przedmiotu</td><td class="category">Kategoria</td><td class="connections">Powiązania</td><td class="options">Opcje</td></tr><tr class="odd"><td class="name" id="nameTd421">2 cz komplet Nika   (sukienka + bolerko)</td><td class="category" id="categoryTd421">komplety na chrzest</td><td class="connections" id="connectionsTd421">4</td><td class="options"><a href="connections.php?action=add&amp;itemId=421"><input type="button" class="addMore" value="Dodaj" id="addButton421"></a><a href="connections.php?action=edit&amp;itemId=421"><input type="button" class="edit" value="Edytuj" id="editButton421"></a><input type="button" class="deleteAll" value="Usuń" id="deleteButton_421"></td></tr><tr class="even"><td class="name" id="nameTd424">2 cz komplet Róża ( sukienka + bolerko)</td><td class="category" id="categoryTd424">komplety na chrzest</td><td class="connections" id="connectionsTd424">5</td><td class="options"><a href="connections.php?action=add&amp;itemId=424"><input type="button" class="addMore" value="Dodaj" id="addButton424"></a><a href="connections.php?action=edit&amp;itemId=424"><input type="button" class="edit" value="Edytuj" id="editButton424"></a><input type="button" class="deleteAll" value="Usuń" id="deleteButton_424"></td></tr><tr class="odd"><td class="name" id="nameTd408">2 cz komplet Zuzia ( sukienka + bolerko)</td><td class="category" id="categoryTd408">komplety na chrzest</td><td class="connections" id="connectionsTd408">5</td><td class="options"><a href="connections.php?action=add&amp;itemId=408"><input type="button" class="addMore" value="Dodaj" id="addButton408"></a><a href="connections.php?action=edit&amp;itemId=408"><input type="button" class="edit" value="Edytuj" id="editButton408"></a><input type="button" class="deleteAll" value="Usuń" id="deleteButton_408"></td></tr><tr class="even"><td class="name" id="nameTd499">3 cz komplet Agatka</td><td class="category" id="categoryTd499">kolorowo i wygodnie </td><td class="connections" id="connectionsTd499">0</td><td class="options"><a href="connections.php?action=add&amp;itemId=499"><input type="button" class="addMore" value="Dodaj" id="addButton499"></a><a href="connections.php?action=edit&amp;itemId=499"><input type="button" class="edit" value="Edytuj" id="editButton499"></a><input type="button" class="deleteAll" value="Usuń" id="deleteButton_499"></td></tr><tr class="odd"><td class="name" id="nameTd487">3 cz komplet Lenka (sukienka + bolerko + buciki)</td><td class="category" id="categoryTd487">komplety na chrzest</td><td class="connections" id="connectionsTd487">3</td><td class="options"><a href="connections.php?action=add&amp;itemId=487"><input type="button" class="addMore" value="Dodaj" id="addButton487"></a><a href="connections.php?action=edit&amp;itemId=487"><input type="button" class="edit" value="Edytuj" id="editButton487"></a><input type="button" class="deleteAll" value="Usuń" id="deleteButton_487"></td></tr><tr class="even"><td class="name" id="nameTd489">3 cz komplet Nika ( sukienka + bolerko + buciki)</td><td class="category" id="categoryTd489">komplety na chrzest</td><td class="connections" id="connectionsTd489">3</td><td class="options"><a href="connections.php?action=add&amp;itemId=489"><input type="button" class="addMore" value="Dodaj" id="addButton489"></a><a href="connections.php?action=edit&amp;itemId=489"><input type="button" class="edit" value="Edytuj" id="editButton489"></a><input type="button" class="deleteAll" value="Usuń" id="deleteButton_489"></td></tr><tr class="odd"><td class="name" id="nameTd476">3 cz komplet Zuzia do chrztu ( sukienka + bolerko + buciki)</td><td class="category" id="categoryTd476">komplety na chrzest</td><td class="connections" id="connectionsTd476">4</td><td class="options"><a href="connections.php?action=add&amp;itemId=476"><input type="button" class="addMore" value="Dodaj" id="addButton476"></a><a href="connections.php?action=edit&amp;itemId=476"><input type="button" class="edit" value="Edytuj" id="editButton476"></a><input type="button" class="deleteAll" value="Usuń" id="deleteButton_476"></td></tr><tr class="even"><td class="name" id="nameTd466">4-cz.komplet bluza spodnie koszulka czapeczka - kolorowa bawełna, bluza Minky</td><td class="category" id="categoryTd466">kolorowo i wygodnie </td><td class="connections" id="connectionsTd466">2</td><td class="options"><a href="connections.php?action=add&amp;itemId=466"><input type="button" class="addMore" value="Dodaj" id="addButton466"></a><a href="connections.php?action=edit&amp;itemId=466"><input type="button" class="edit" value="Edytuj" id="editButton466"></a><input type="button" class="deleteAll" value="Usuń" id="deleteButton_466"></td></tr><tr class="odd"><td class="name" id="nameTd469">4-cz.komplet bluza spodnie koszulka czapeczka - kolorowa bawełna, bluza Minky/Leon</td><td class="category" id="categoryTd469">wyprawki dla niemowląt</td><td class="connections" id="connectionsTd469">0</td><td class="options"><a href="connections.php?action=add&amp;itemId=469"><input type="button" class="addMore" value="Dodaj" id="addButton469"></a><a href="connections.php?action=edit&amp;itemId=469"><input type="button" class="edit" value="Edytuj" id="editButton469"></a><input type="button" class="deleteAll" value="Usuń" id="deleteButton_469"></td></tr><tr class="even"><td class="name" id="nameTd468">4-cz.komplet bluza spodnie koszulka czapeczka- biała bawelna w serduszka , bluza Minky</td><td class="category" id="categoryTd468">kolorowo i wygodnie </td><td class="connections" id="connectionsTd468">2</td><td class="options"><a href="connections.php?action=add&amp;itemId=468"><input type="button" class="addMore" value="Dodaj" id="addButton468"></a><a href="connections.php?action=edit&amp;itemId=468"><input type="button" class="edit" value="Edytuj" id="editButton468"></a><input type="button" class="deleteAll" value="Usuń" id="deleteButton_468"></td></tr><tr class="odd"><td class="name" id="nameTd460">Bawelniane body niemowlęce</td><td class="category" id="categoryTd460">kolorowo i wygodnie </td><td class="connections" id="connectionsTd460">0</td><td class="options"><a href="connections.php?action=add&amp;itemId=460"><input type="button" class="addMore" value="Dodaj" id="addButton460"></a><a href="connections.php?action=edit&amp;itemId=460"><input type="button" class="edit" value="Edytuj" id="editButton460"></a><input type="button" class="deleteAll" value="Usuń" id="deleteButton_460"></td></tr><tr class="even"><td class="name" id="nameTd493">Bawełniana opaska Julia</td><td class="category" id="categoryTd493">opaski</td><td class="connections" id="connectionsTd493">2</td><td class="options"><a href="connections.php?action=add&amp;itemId=493"><input type="button" class="addMore" value="Dodaj" id="addButton493"></a><a href="connections.php?action=edit&amp;itemId=493"><input type="button" class="edit" value="Edytuj" id="editButton493"></a><input type="button" class="deleteAll" value="Usuń" id="deleteButton_493"></td></tr><tr class="odd"><td class="name" id="nameTd459">Bawełniane rajstopki niemowlęce BIAŁE, ECRU </td><td class="category" id="categoryTd459">kolorowo i wygodnie </td><td class="connections" id="connectionsTd459">14</td><td class="options"><a href="connections.php?action=add&amp;itemId=459"><input type="button" class="addMore" value="Dodaj" id="addButton459"></a><a href="connections.php?action=edit&amp;itemId=459"><input type="button" class="edit" value="Edytuj" id="editButton459"></a><input type="button" class="deleteAll" value="Usuń" id="deleteButton_459"></td></tr><tr class="even"><td class="name" id="nameTd416">Bolerko futerkowe </td><td class="category" id="categoryTd416">bolerka </td><td class="connections" id="connectionsTd416">3</td><td class="options"><a href="connections.php?action=add&amp;itemId=416"><input type="button" class="addMore" value="Dodaj" id="addButton416"></a><a href="connections.php?action=edit&amp;itemId=416"><input type="button" class="edit" value="Edytuj" id="editButton416"></a><input type="button" class="deleteAll" value="Usuń" id="deleteButton_416"></td></tr><tr class="odd"><td class="name" id="nameTd417">Bolerko polarowe -  na chrzest, święta, okazje.</td><td class="category" id="categoryTd417">bolerka </td><td class="connections" id="connectionsTd417">3</td><td class="options"><a href="connections.php?action=add&amp;itemId=417"><input type="button" class="addMore" value="Dodaj" id="addButton417"></a><a href="connections.php?action=edit&amp;itemId=417"><input type="button" class="edit" value="Edytuj" id="editButton417"></a><input type="button" class="deleteAll" value="Usuń" id="deleteButton_417"></td></tr><tr class="even"><td class="name" id="nameTd477">Bolerko polarowe z koronką </td><td class="category" id="categoryTd477">bolerka </td><td class="connections" id="connectionsTd477">2</td><td class="options"><a href="connections.php?action=add&amp;itemId=477"><input type="button" class="addMore" value="Dodaj" id="addButton477"></a><a href="connections.php?action=edit&amp;itemId=477"><input type="button" class="edit" value="Edytuj" id="editButton477"></a><input type="button" class="deleteAll" value="Usuń" id="deleteButton_477"></td></tr></tbody>
    </table>
</div>
{% endblock %}
