{% extends "admin/base.html" %}

{% block title %}
Rabaty
{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function(){
    $("#confirmAlert").hide();
    updateDiscount();
    changeActiveDiscount();
});
</script>
{% endblock %}

{% block content %}
<div id="discounts">
    <div class="label">Dostępne rabaty</div>
    <div id="confirmAlert" style="display: none">Zmieniono rabat</div>
    <table id="discounts">
        <tr class="head">
            <td id="count">Kwota zamówienia</td>
            <td id="disc">Zniżka w %</td>
            <td id="options">Aktywny</td>
        </tr>
        {% for discount in discounts %}
        <tr class="cont">
            <td>
                <input type="text" id="count_{{ discount.id }}" name="count"
                       value="{{ '%.02f'|format(discount.value) }}"/>
            </td>
            <td>
                <input type="text" id="disc_{{ discount.id }}" name="disc" value="{{ discount.discount }}" />
            </td>
            <td>
                <div class="squaredOne">
                    <input type="checkbox" value="None" class="squaredOneCheckbox"
                           id="squaredOne{{ discount.id }}" name="check"
                           {% if discount.is_active %}checked{% endif %} />
                    <label for="squaredOne{{ discount.id }}"></label>
                </div>
                <input type="button" id="disc_{{ discount.id }}" name="submit" value="Zapisz zmiany" />
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
