{% extends 'admin/base.html' %}

{% block script %}
<script type="text/javascript">
    $(function () {
        moveBefore();
        moveAfter();
        deletePhoto();
        showPreview();
    });
</script>
{% endblock %}

{% block content %}
<div id="gallery">
    <div id="confirmAlert">Usunięto zdjęcie</div>
    <form action="" method="POST">
        <div id="title">
            <div class="label">Tytuł galerii:</div>
            <input class="nameInput" name="name" type="text" value="{{ gallery.name }}"/>
        </div>
        <input type="submit" name="submit" value="Zatwierdź" />
        <div id="photos">
            <div id="container">
                <div class="label">Zdjęcia:</div>
                <div id="thumbnails">
                    <div class="container">
                        <ul class="thumbs noscript">
                            {% for img in gallery.ordered_imgs() %}
                            <li>
                                <div class="frame">
                                    <span class="helper"></span>
                                    <img src="{{ img.url() }}"
                                         class="photoThumb" id="itemPhoto{{ img.id }}">
								</div>
                                {% if not loop.first %}
                                    <div class="moveBefore" id="moveBefore{{ img.id }}">&lt;</div>
                                {% endif %}
                                <div class="deletePhoto" id="deletePhoto{{ img.id }}">X</div>
                                {% if not loop.last %}
                                    <div class="moveAfter" id="moveAfter{{ img.id }}">&gt;</div>
                                {% endif %}
							</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="action" value="changeTitle" />
        <input type="submit" name="submit" value="" style="visibility: hidden;" />
    </form>

    <form action="" method="POST" enctype="multipart/form-data">
        <div id="addPhotos">
            <div class="label">Dodaj więcej zdjęć:</div>
            <input name="userfile[]" id="image-input" type="file" multiple="multiple" accept="image/*" />
            <div class="preview-area"></div>
        </div>

        <input type="hidden" name="action" value="addPhotos" />
        <input type="submit" name="submit" value="Dodaj zdjęcia" />
        <a href="{{ url_for('admin.gallery') }}">
            <input type="button" name="goBack" value="Wróć" />
        </a>
    </form>
</div>
{% endblock %}
