{% extends 'admin/base.html' %}

{% block title %}
Galerie
{% endblock %}

{% block script %}
<script type="text/javascript">
$(function(){
    deleteGallery();
});
</script>
{% endblock %}

{% block content %}
<div id="galleries">
    <div id="confirmAlert" style="display: none;">Usunięto galerię</div>
    <a href="{{ url_for('admin.add_gallery') }}">
        <input type="button" id="addNew" value="Stwórz nową galerię">
    </a>
    <table id="galleriesTable">
        <tbody>
            <tr class="header">
                <td class="img"></td>
                <td class="title">Nazwa</td>
                <td class="options">Opcje</td>
            </tr>
            {% for gallery in galleries %}
            <tr class="{{ loop.cycle('odd', 'even') }}">
                <td class="img" id="imgTd{{ gallery.id }}">
                    <img src="{{ gallery.main_img().url() }}" class="img">
                </td>
                <td class="title" id="titleTd{{ gallery.id }}">
                    {{ gallery.name }}
                </td>
                <td class="options">
                    <a href="{{ url_for('admin.edit_gallery', id=gallery.id) }}">
                        <input type="button" class="edit" value="Edytuj" id="editButton{{ gallery.id }}">
                    </a>
                    <input type="button" class="delete" value="Usuń" id="deleteButton{{ gallery.id }}">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
