{% extends "admin/base.html" %}

{% block title %}
Przedmioty
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(function () {
        changeActiveProduct();
        deleteProduct();
    });
</script>
{% endblock %}

{% block content %}
<div id="items">
    <div id="container">
        <div id="filters">
            <div class="filter">
                kategoria
                <select id="categoryFilter">
                    <option value="all">wszystkie</option>
                    {%- for cat in categories %}
                        <option value="{{ cat.id }}">{{ cat.name }}</option>
                        {%- for sub_cat in cat.sub_categories %}
                            <option value="{{ sub_cat.id }}">{{ cat.name }} | {{ sub_cat.name }}</option>
                        {%- endfor %}
                    {%- endfor %}
                </select>
                Sortuj wg:
                <select id="sort">
                    <option value="name_asc">Nazwy a-z</option>
                    <option value="name_desc">Nazwy z-a</option>
                    <option value="category_asc">Kategorii a-z</option>
                    <option value="category_desc">Kategorii z-a</option>
                    <option value="connections_asc">Powiązań rosnąco</option>
                    <option value="connections_desc">Powiązań malejąco</option>
                </select>
                <div class="pages">
                    {% if products.has_prev %}
                        <a href="{{ url_for('admin.items', page=products.prev_num) }}">&#171;</a>
                    {% endif %}
                    {%- for page in products.iter_pages() %}
                        {% if page %}
                            {% if page != products.page %}
                                <a id="page_{{ page }}"
                                   href="{{ url_for('admin.items', page=page) }}">
                                   {{ page }}
                               </a>
                            {% else %}
                                <a id="page_{{ page }}">
                                   {{ page }}
                               </a>
                            {% endif %}
                        {% endif %}
                    {%- endfor %}

                    {% if products.has_next %}
                        <a href="{{ url_for('admin.items', page=products.next_num) }}">&#187;</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <table id="itemsTable">
            <tbody>
                <tr class="header">
                    <td class="name">Nazwa przedmiotu</td>
                    <td class="price">Cena</td>
                    <td class="category">Kategoria</td>
                    <td class="options">Aktywny</td>
                </tr>
                {% for prod in products.items %}
                <tr class="{{ loop.cycle("odd", "even") }}">
                    <td class="name" id="nameTd{{ prod.id }}">{{ prod.name }}</td>
                    <td class="price" id="priceTd{{ prod.id }}">{{ prod.cost }} zł</td>
                    <td class="category" id="categoryTd{{ prod.id }}">{{ prod.category.name }}</td>
                    <td class="options"><input type="button" class="edit" value="Edytuj" id="editButton{{ prod.id }}">
                        <input type="button" class="delete" value="Usuń" id="deleteButton{{ prod.id }}">
                        <div class="squaredOne">
                            <input type="checkbox" value="None" class="squaredOneCheckbox"
                                   id="squaredOne{{ prod.id }}" name="check"
                                   {% if prod.is_active %}checked=""{% endif %} />
                            <label for="squaredOne{{ prod.id }}"></label>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
