{% extends "admin/base.html" %}

{% block title %}
Zamówienia
{% endblock %}

{% block content %}
<div id="orders">
    <div id="container">
        <div id="filters">
            <div class="filter">
                status
                <select id="categoryFilter">
                    <option value="all">wszystkie</option>
                </select>
                <!--
                Sortuj wg:
                <select id="sort">
                    <option value="ASC__itemName">Nazwy a-z</option>
                    <option value="DESC_itemName">Nazwy z-a</option>
                    <option value="ASC__categoryName">Kategorii a-z</option>
                    <option value="DESC_categoryName">Kategorii z-a</option>
                    <option value="ASC__connections">Powiązań rosnąco</option>
                    <option value="DESC_connections">Powiązań malejąco</option>
                </select>
                -->
            </div>
        </div>
        <div id="poms"></div>
        <table id="orders">
            <tbody>
                <tr class="head">
                    <td id="order_id">ID</td>
                    <td id="item_name">Nazwa przedmiotu</td>
                    <td id="quantity">il.</td>
                    <td id="shipping_price">cena przes.</td>
                    <td id="sum_price">cena razem</td>
                    <td id="date">data</td>
                    <td id="client_name">Nazwa klienta</td>
                    <td id="shipping">Przesyłka</td>
                    <td id="status">Status</td>
                </tr>
                <tr class="odd">
                    <td>447</td>
                    <td id="itemName_447">Koronkowa sukienka falbanka - idealna na chrzest<br>Opaska koronkowa na chrzest, święta</td>
                    <td id="quantity_447">2</td>
                    <td>22.50</td>
                    <td>166.5</td>
                    <td>08-06-2014 22:43:53</td>
                    <td> </td>
                    <td>Przesylka kurierska  pobraniowa</td>
                    <td class="status" id="order_447">
                        <p style="color: #49a05e;">zrealizowane</p>
                    </td>
                </tr>
                <tr class="even">
                    <td>447</td>
                    <td id="itemName_447">Koronkowa sukienka falbanka - idealna na chrzest<br>Opaska koronkowa na chrzest, święta</td>
                    <td id="quantity_447">2</td>
                    <td>22.50</td>
                    <td>166.5</td>
                    <td>08-06-2014 22:43:53</td>
                    <td> </td>
                    <td>Przesylka kurierska  pobraniowa</td>
                    <td class="status" id="order_447">
                        <p style="color: #49a05e;">zrealizowane</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
