{% extends 'admin/base.html' %}

{% block title %}
Promocje
{% endblock %}

{% block content %}
<div id="promoted">
    <div id="confirmAlert" style="display: none;">Zmieniono cenę.</div>
    <div id="filters">
            <div class="filter">
                kategoria
                <select id="categoryFilter">
                    <option value="all">wszystkie</option><option value="4">dziewczynka</option><option value="5">chłopiec</option><option value="10">chłopiec  |  komplety zimowe</option><option value="31">dziewczynka  |  ho ho ho...czyli święta tuż tuż</option><option value="19">dziewczynka  |  płaszczyki </option><option value="33">chłopiec  |  wyprawki dla niemowląt</option><option value="22">dziewczynka  |  bolerka </option><option value="6">dziewczynka  |  komplety na chrzest</option><option value="35">chłopiec  |  słodkich snów...czyli pościele dla maluchów</option><option value="25">chłopiec  |  garniturki</option><option value="8">dziewczynka  |  kapleusiki, czapeczki, chusteczki </option><option value="30">dziewczynka  |  opaski</option><option value="11">chłopiec  |  czapeczki, buciki</option><option value="32">chłopiec  |  kocyki</option><option value="21">dziewczynka  |  buciki </option><option value="34">dziewczynka  |  słodkich snów</option><option value="23">dziewczynka  |  kocyki, rożki </option><option value="7">dziewczynka  |  sukienki na chrzest...i nie tylko</option><option value="36">dziewczynka  |  poduszki do karmienia</option><option value="29">dziewczynka  |  kolorowo i wygodnie </option></select>
                Sortuj wg:
                <select id="sort">
                    <option value="ASC__itemName">Nazwy a-z</option>
                    <option value="DESC_itemName">Nazwy z-a</option>
                    <option value="ASC__categoryName">Kategorii a-z</option>
                    <option value="DESC_categoryName">Kategorii z-a</option>
                </select>
            </div>
        </div>
    <table id="promotedTable">
        <tbody><tr class="header"><td class="name">Nazwa przedmiotu</td><td class="category">Kategoria</td><td class="price">Cena</td><td class="options">Opcje</td></tr><tr class="odd"><td class="name" id="nameTd469">4-cz.komplet bluza spodnie koszulka czapeczka - kolorowa bawełna, bluza Minky/Leon</td><td class="category" id="categoryTd469">wyprawki dla niemowląt</td><td class="price" id="priceTd469"><input type="text" id="recPrice_16" value="72.00"> zł <input type="button" class="changePrice" id="recPrice_16" value="Zmień cenę"></td><td class="options"><input type="button" class="deleteAll" value="Usuń" id="deleteButton_469"></td></tr><tr class="even"><td class="name" id="nameTd460">Bawelniane body niemowlęce</td><td class="category" id="categoryTd460">kolorowo i wygodnie </td><td class="price" id="priceTd460"><input type="text" id="recPrice_17" value="14.00"> zł <input type="button" class="changePrice" id="recPrice_17" value="Zmień cenę"></td><td class="options"><input type="button" class="deleteAll" value="Usuń" id="deleteButton_460"></td></tr><tr class="odd"><td class="name" id="nameTd417">Bolerko polarowe -  na chrzest, święta, okazje.</td><td class="category" id="categoryTd417">bolerka </td><td class="price" id="priceTd417"><input type="text" id="recPrice_18" value="28.00"> zł <input type="button" class="changePrice" id="recPrice_18" value="Zmień cenę"></td><td class="options"><input type="button" class="deleteAll" value="Usuń" id="deleteButton_417"></td></tr><tr class="even"><td class="name" id="nameTd477">Bolerko polarowe z koronką </td><td class="category" id="categoryTd477">bolerka </td><td class="price" id="priceTd477"><input type="text" id="recPrice_19" value="33.00"> zł <input type="button" class="changePrice" id="recPrice_19" value="Zmień cenę"></td><td class="options"><input type="button" class="deleteAll" value="Usuń" id="deleteButton_477"></td></tr><tr class="odd"><td class="name" id="nameTd411">Buciki niemowlęce pantofelki</td><td class="category" id="categoryTd411">buciki </td><td class="price" id="priceTd411"><input type="text" id="recPrice_20" value="25.00"> zł <input type="button" class="changePrice" id="recPrice_20" value="Zmień cenę"></td><td class="options"><input type="button" class="deleteAll" value="Usuń" id="deleteButton_411"></td></tr><tr class="even"><td class="name" id="nameTd407">Cieplutki rożek</td><td class="category" id="categoryTd407">kocyki, rożki </td><td class="price" id="priceTd407"><input type="text" id="recPrice_22" value="66.00"> zł <input type="button" class="changePrice" id="recPrice_22" value="Zmień cenę"></td><td class="options"><input type="button" class="deleteAll" value="Usuń" id="deleteButton_407"></td></tr><tr class="odd"><td class="name" id="nameTd441">Czapka futerkowa</td><td class="category" id="categoryTd441">kapleusiki, czapeczki, chusteczki </td><td class="price" id="priceTd441"><input type="text" id="recPrice_23" value="28.00"> zł <input type="button" class="changePrice" id="recPrice_23" value="Zmień cenę"></td><td class="options"><input type="button" class="deleteAll" value="Usuń" id="deleteButton_441"></td></tr>
        </tbody>
    </table>
    <a href="promoted.php?action=add">
        <input type="button" class="addMore" value="Dodaj więcej">
    </a>
</div>
{% endblock %}
