{% extends "admin/base.html" %}

{% block title %}
Dostawa
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#confirmAlert").hide();
        updateShipping();
        changeActiveShipping();
        deleteShip();
    });
</script>
{% endblock %}

{% block content %}
<div id="shipping">
    <div id="newShipping">
        <form action="{{ url_for('admin_api.shipping') }}"; method="POST" enctype="multipart/form-data">
            <div class="label">Dodaj nowy</div>
            <div class="row"><div>Nazwa: </div><input type="text" name="newName"/></div>
            <div class="row"><div>Kwota: </div><input type="text" name="newValue"/> zł</div>
            <input type="hidden" name="action" value="add" />
            <input type="submit" name="submit" value="Dodaj" />
        </form>
    </div>
    <div class="label">Opcje dostawy</div>
    <div id="confirmAlert">Pomyślnie zmieniono</div>
    <table id="shipping">
        <tr class="head">
            <td id="count">Nazwa</td>
            <td id="disc">Koszt</td>
            <td id="options">Aktywny</td>
        </tr>
        {% for shipping in shippings %}
        <tr class="cont">
            <td>
                <input type="text" id="count_{{ shipping.id }}" name="name" value="{{ shipping.title }}"/>
            </td>
            <td>
                <input type="text" id="disc_{{ shipping.id }}" name="value" value="{{ '%.02f'|format(shipping.value) }}"/> zł
            </td>
            <td>
                <div class="squaredOne">
                    <input type="checkbox" value="None" class="squaredOneCheckbox"
                           id="squaredOne{{ shipping.id }}" name="check"
                           {% if shipping.is_active %}checked{% endif %} />
                    <label for="squaredOne{{ shipping.id }}"></label>
                </div>
                <input type="button" id="disc_{{ shipping.id }}" name="submit" value="Zapisz zmiany" />
                {% if shipping.cash_on_delivery %}
                    <input type="button" name="Pobraniowa" value="Pobraniowa" />
                {% else %}
                    <input type="button" id="disc_{{ shipping.id }}" name="delete" value="Usuń" />
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
