{% extends "admin/base.html" %}

{% block title %}
Edytuj rozmiary
{% endblock %}

{% block script %}
<script type="text/javascript">
$( document ).ready(function() {
    editParamOfPool();
    deleteParam();
    addNewParamValue();
    addNewParamGroup();
});
</script>
{% endblock %}

{% block content %}
<div id="editSize">
    <form action="" method="POST" enctype="multipart/form-data">
        <div id="addNew">
            <div class="label">Dodaj nowy</div>
            <div id="name">
                <div class="title">Nazwa:</div>
                <input type="text" name="name"/>
            </div>
            <div id="value">
                <div class="title">Wartość:</div>
                <input type="text" name="value"/>
            </div>
            <input type="button" name="addNew" value="Dodaj nowy" />
        </div>
    </form>
    <div id="confirmAlert">Zmieniono nazwę.</div>
    <form action="" method="POST" enctype="multipart/form-data">
        <div id="size">
            <div class="label">Rozmiary</div>
            {% for size in sizes %}
            <div class="box">
                <div class="sizeOf" id="paramOf_{{ size.id }}">
                    <div class="container">
                        <input type="text" class="editTextbox" id="value_{{ size.id }}" value="{{ size.name }}" />
                    </div>
                    <div class="buttons">
                        <input type="button" class="edit" id="edit_{{ size.id }}" value="Zmień" />
                    </div>
                </div>
                {% for sub_size in size.sub_params %}
                <div class="size" id="size_{{ sub_size.id }}">
                    <input type="text" class="editTextbox" id="value_{{ sub_size.id }}" value="{{ sub_size.name }}" />
                    <div class="buttons">
                        <input type="button" class="edit" id="edit_{{ sub_size.id }}" value="Zmień" />
                        <input type="button" class="delete" id="delete_{{ sub_size.id }}" value="Usuń" />
                    </div>
                </div>
                {% endfor %}
                <input type="text" class="newSizeTextbox" id="newSize_{{ size.id }}" value="" />
                <div class="buttons">
                    <input type="button" class="add" id="add_{{ size.id }}" value="Dodaj rozmiar" />
                </div>
            </div>

            {% if loop.index % 3 == 0 %}
                <div style="clear: both;"></div>
            {% endif %}
            {% endfor %}
        </div>
    </form>
</div>
{% endblock %}
