<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="js/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="js/modernizr.custom.86080.js"></script>
        <script type="text/javascript" src="js/galleriffic/jquery.history.js"></script>
        <script type="text/javascript" src="js/galleriffic/jquery.galleriffic.js"></script>
        <script type="text/javascript" src="js/galleriffic/jquery.opacityrollover.js"></script>
        <script type="text/javascript" src="js/jquery-cookie.js"></script>
        <script type="text/javascript" src="js/jquery.watermark.min.js"></script>
        <script type="text/javascript" src="js/jquery.validate.min.js"></script>
        <script type="text/javascript" src="js/jquery.form.js"></script>
        <link rel="stylesheet" href="css/shopstyle.css" />
        <link rel="stylesheet" type="text/css" href="css/backanim.css" />
        <link rel="shortcut icon" href="img/favicon.ico" type="image/icon">
        <link rel="icon" href="img/favicon.ico" type="image/icon">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="css/borders/storeborders.css" />
        <link rel="canonical" href="http://www.asantiforkids.com/" />
        {% block header %}{% endblock %}
    </head>
    <body>
        <div class="bg"></div>
        <ul class="cb-slideshow">
            <li><span>Image 01</span></li>
            <li><span>Image 02</span></li>
            <li><span>Image 03</span></li>
            <li><span>Image 04</span></li>
        </ul>
        <div id="background">
            <div class ="panel-div">
                <div class="sub-panel-div" id="profile" >
                    <p>Witaj.&#160;</p>
                    <a data-ng-href="/login">
                        <p class="p-profile" id="p-login">Zaloguj się</p>
                    </a>
                    <p>&#160;lub&#160;</p>
                    <a data-ng-href="/register">
                        <p class="p-profile" id="p-register">załóż konto.</p>
                    </a>
                </div>
                <div class="sub-panel-div" id="profile-icon" ></div>
            </div>
            <div class="n-menu">
                <a class="n-menu-a" data-ng-href="/contact" class="n-item">Kontakt</a>
                <a class="n-menu-a" href="{{ url_for('main.gallery') }}" class="n-item">Galeria</a>
                <a class="n-menu-a" data-ng-href="/about" class="n-item">O Nas</a>
                <a class="n-menu-a" data-ng-href="/regulations" class="n-item">Regulamin</a>
                <a class="n-menu-a" data-ng-href="/payments" class="n-item">Dostawa i płatności</a>
                <a class="n-menu-a" data-ng-href="/promotions" class="n-item">Promocje</a>
                <a class="n-menu-a" data-ng-href="/" class="n-item">Sklep</a>
            </div>
        </div>

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <style>@import url("css/borders/footerborders.css");</style>
        <div class="bigdivf">
            <div class="rowdivf" id="topdivf">
            </div>
            <div class="rowdivf" id="middivf">
                <div class="rightdivf" id="midrightdivf">
                </div>
                <div class="centerdivf" id="midcenterdivf">
                    <div id="wrapper">
                        <p><a href = "payments.php" class="n-item">Płatności</a></p>
                        <p><a href = "about.php" class="n-item">O Nas</a></p>
                        <p><a href = "gallery.php" class="n-item">Galeria</a></p>
                        <p><a href = "promo.php" class="n-item">Promocje</a></p>
                        <p><a href = "index.php" class="n-item">Sklep</a></p>
                    </div>
                </div>
                <div class="leftdivf" id="midleftdivf">
                </div>
            </div>
            <div class="rowdivf" id="botdivf">
            </div>
        </div>
    </body>
</html>
