{% extends "base_tmpl.html" %}

{% block content %}
<div id="gallery">
    <div class="bigdiv">
        <div class="rowdiv" id="topdiv"></div>
        <div class="rowdiv" id="middiv">
            <div class="rightdiv" id="midrightdiv"></div>
            <div class="centerdiv" id="midcenterdiv">
                <div id="title">Nasza Galeria</div>
                <div id="container">
                    <a href="gallery.php?action=show&id=2">
                        <div class="box">
                            <img src="http://serwer1369061.home.pl/img/gallery/2/IMG_7089.jpg" class="boxImg" />
                            <div class="title">Sesja jesienna. Nasi mali modele spisali się wspaniale:)</div>
                        </div>
                    </a>
                    <a href="gallery.php?action=show&id=3">
                        <div class="box">
                            <img src="http://serwer1369061.home.pl/img/gallery/3/IMG_9320.jpg" class="boxImg" />
                            <div class="title">Komplety zwierzaki w nowej odsłonie. Pozowała najsłodsza modelka świata:)</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="leftdiv" id="midleftdiv"></div>
        </div>
        <div class="rowdiv" id="botdiv"></div>
    </div>
</div>
{% endblock %}
