<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Ubranka dziecięce na chrzest, sukienka do chrztu - komplety</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/controllers.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="js/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="js/modernizr.custom.86080.js"></script>
        <script type="text/javascript" src="js/galleriffic/jquery.history.js"></script>
        <script type="text/javascript" src="js/galleriffic/jquery.galleriffic.js"></script>
        <script type="text/javascript" src="js/galleriffic/jquery.opacityrollover.js"></script>
        <script type="text/javascript" src="js/jquery-cookie.js"></script>
        <script type="text/javascript" src="js/jquery.watermark.min.js"></script>
        <script type="text/javascript" src="js/jquery.validate.min.js"></script>
        <script type="text/javascript" src="js/jquery.form.js"></script>
        <link rel="stylesheet" href="css/shopstyle.css" />
        <link rel="stylesheet" type="text/css" href="css/backanim.css" />
        <link rel="shortcut icon" href="img/favicon.ico" type="image/icon">
        <link rel="icon" href="img/favicon.ico" type="image/icon">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="Oferujemy Państwu komplety na chrzest oraz ubranka dziecięce i wyprawki do chrztu. W asortymencie także sukienki oraz dresy niemowlęce a także wiele innych ubrań." />
        <meta name="keywords" content="asanti, asanti for kids, sklep, ubranka do chrztu, ubranka, modne ubranka dla niemowląt, ubranka dla dzieci,
            ubranka dla niemowląt, dla niemowląt, dla dzieci, ciuszki, buciki, buciki dla dzieci">
        <link rel="stylesheet" href="css/borders/storeborders.css" />
        <link rel="canonical" href="http://www.asantiforkids.com/" />
    </head>
    <body>
        <div class="bg"></div>
        <ul class="cb-slideshow">
            <li><span>Image 01</span></li>
            <li><span>Image 02</span></li>
            <li><span>Image 03</span></li>
            <li><span>Image 04</span></li>
        </ul>
        <div id="background">
            <div class ="panel-div">
                <div class="sub-panel-div" id="profile" >
                    <p>Witaj.&#160;</p>
                    <a data-ng-href="/login">
                        <p class="p-profile" id="p-login">Zaloguj się</p>
                    </a>
                    <p>&#160;lub&#160;</p>
                    <a data-ng-href="/register">
                        <p class="p-profile" id="p-register">załóż konto.</p>
                    </a>
                </div>
                <div class="sub-panel-div" id="profile-icon" ></div>
            </div>
            <div class="n-menu">
                <a class="n-menu-a" data-ng-href="/contact" class="n-item">Kontakt</a>
                <a class="n-menu-a" href="{{ url_for("main.gallery") }}" class="n-item">Galeria</a>
                <a class="n-menu-a" data-ng-href="/about" class="n-item">O Nas</a>
                <a class="n-menu-a" data-ng-href="/regulations" class="n-item">Regulamin</a>
                <a class="n-menu-a" data-ng-href="/payments" class="n-item">Dostawa i płatności</a>
                <a class="n-menu-a" data-ng-href="/promotions" class="n-item">Promocje</a>
                <a class="n-menu-a" data-ng-href="/" class="n-item">Sklep</a>
            </div>
        </div>
        <script type="text/javascript">
            $("#logoutButton").click(function(){
                $.post("controllers/logoutUser.php")
                .done(function(data) {
                        $.cookie("rememberme", "", { expires: 0, path: "/" });
                        window.location.href = "index.php";
                });
            });

            $("#asanti").click(function(){
            	window.location.href = "index.php";
            });
        </script>
        <div class="container">
            <style>@import url(css/borders/indexborders.css);</style>
            <div class="bigdivm">
                <div class="rowdivm" id="topdivm">
                </div>
                <div class="rowdivm" id="middivm">
                    <div class="rightdivm" id="midrightdivm">
                    </div>
                    <div class="centerdivm" id="midcenterdivm">
                        <div id="welcome">
                            <div id="title">
                                <h1>Ubranka dziecięce i do chrztu</h1>
                                <span style="padding-left:37%;color: #58300C;font-family: Gabriola; font-size: 20pt; text-align: center;">Witamy w sklepie Asanti for kids</span>
                                <p style="color: #58300C;font-family: Gabriola; font-size: 15pt; text-align: center;">Zapraszamy serdecznie do zapoznania się z naszą ofertą niepowtarzalnych ubranek dziecięcych, szytych z myślą o najmłodszych, ich wygodzie ale przede wszystkim w dbając o najwyższą jakość ofertowanego asortymentu.
                                    Wszystkie produkowane przez nas ubranka szyte są z myślą o dziecku na każdym etapie rozwoju.
                                </p>
                            </div>
                            <div id="subTitle">
                                <p>Zapraszamy do zakupów!</p>
                            </div>
                            <div id="pickMenu">
                                <a href="store.php?category=dziewczynka">
                                    <div id="p1"></div>
                                </a>
                                <a href="store.php?category=chlopiec">
                                    <div id="p2"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="leftdivm" id="midleftdivm">
                    </div>
                </div>
                <div class="rowdivm" id="botdivm">
                </div>
            </div>
            <div class="bigdiv">
                <div class="rowdiv" id="topdiv">
                </div>
                <div class="rowdiv" id="middiv">
                    <div class="rightdiv" id="midrightdiv">
                    </div>
                    <div class="centerdiv" id="midcenterdiv">
                        <div class="recommended">
                            <div class="title">
                                <a href="promo.php">Polecamy
                                <a>
                            </div>
                            <div class="products">
                            <div class="product-info">
                            <div class="imageContainer">
                            <img class="productImage" src="http://serwer1369061.home.pl/img/items/411/head/headPhoto411.jpg" alt="Smiley face" >
                            </div>
                            <div class="product-name">
                            <p>Buciki niemowlęce pantofelki</p>
                            </div>
                            <div class="product-price">
                            <p><strike id="pstrike">25.00zł</strike></p>
                            <p class="promo">25.00zł</p></div>
                            <div class="imageConBig" id="topleft" onclick="window.location.href="item.php?id=411"" style="background:url("http://serwer1369061.home.pl/img/items/411/head/headPhoto411.jpg") no-repeat " >
                            </div>
                            </div><div class="product-info">
                            <div class="imageContainer">
                            <img class="productImage" src="http://serwer1369061.home.pl/img/items/417/head/headPhoto417.jpg" alt="Smiley face" >
                            </div>
                            <div class="product-name">
                            <p>Bolerko polarowe -  na chrzest, święta, okazje.</p>
                            </div>
                            <div class="product-price">
                            <p><strike id="pstrike">28.00zł</strike></p>
                            <p class="promo">28.00zł</p></div>
                            <div class="imageConBig" id="top"onclick="window.location.href="item.php?id=417"" style="background:url("http://serwer1369061.home.pl/img/items/417/head/headPhoto417.jpg") no-repeat " >
                            </div>
                            </div><div class="product-info">
                            <div class="imageContainer">
                            <img class="productImage" src="http://serwer1369061.home.pl/img/items/441/head/headPhoto441.jpg" alt="Smiley face" >
                            </div>
                            <div class="product-name">
                            <p>Czapka futerkowa</p>
                            </div>
                            <div class="product-price">
                            <p><strike id="pstrike">28.00zł</strike></p>
                            <p class="promo">28.00zł</p></div>
                            <div class="imageConBig" id="top"onclick="window.location.href="item.php?id=441"" style="background:url("http://serwer1369061.home.pl/img/items/441/head/headPhoto441.jpg") no-repeat " >
                            </div>
                            </div><div class="product-info">
                            <div class="imageContainer">
                            <img class="productImage" src="http://serwer1369061.home.pl/img/items/477/head/headPhoto477.jpg" alt="Smiley face" >
                            </div>
                            <div class="product-name">
                            <p>Bolerko polarowe z koronką </p>
                            </div>
                            <div class="product-price">
                            <p><strike id="pstrike">33.00zł</strike></p>
                            <p class="promo">33.00zł</p></div>
                            <div class="imageConBig" id="topright"onclick="window.location.href="item.php?id=477"" style="background:url("http://serwer1369061.home.pl/img/items/477/head/headPhoto477.jpg") no-repeat " >
                            </div>
                            </div>     	  <div style="float:left;width:50%;"><h2 style="padding-left:30%;padding-bottom:5px;">Komplety do chrztu</h2>
                            <p style="font-family: Gabriola, OpenSansRegular,Arial; font-size: 16pt; color:black; text-align:justify; padding:0 8px;">
                            Jesteśmy firmą zajmującą się produkcją ubranek dziecięcych i niemowlęcych. W naszym asortymencie znajdą Państwo dresy oraz sukienki do chrztu,
                            a także wyprawki dla niemowlaków. Nasze produkty wykonujemy z najlepszej jakości materiałów dbając o to, aby każdy element wykonany był starannie i solidnie.
                            Wszystkich szukających ubranek dla swoich pociech zapraszamy do skorzystania z naszej oferty sklepu internetowego Asanti for kids. Produkujemy
                            odzież dziecięcą przeznaczoną na ceremonie chrztu lecz nie tylko. W naszej ofercie znajdą Państwo również sukienki oraz dresy dla niemowlaków
                            wykonane z bardzo dobrej jakości materiałów.
                            Nasz sklep internetowy oferuje Państwu dziecięce ubranka na chrzest oraz wyprawki niemowlęce. Jesteśmy producentami ubrań szytych z wielką
                            dbałością o szczegóły oraz jakość wykonanego produktu.
                            W trosce o bezpieczeństwo najmniejszych dokładamy też starań,
                            aby dodatki dekoracyjne były bezpieczne dla skóry oraz nie posiadały elementów mogących podrażniać skórę dzieci.
                            Ofertę prezentujemy w dziale dla dziewczynek i chłopców.
                            </p>                          </div>
                            <div style="float:left;width:50%;">
                            <h2 style="padding-left:30%;padding-bottom:5px;">Ubranka na chrzest</h2>
                            <p style="font-family: Gabriola, OpenSansRegular,Arial; font-size: 16pt; color:black; text-align:justify; padding:0 8px;">
                            W dziale dla dziewczynek odnajdą Państwo asortyment niezwykle efektowny i piękny, zaprojektowany i wykonany z wielkim gustem jaki wymagany jest
                            przy ważnych uroczystościach. Polecamy sukienki i zestawy do chrztu które
                            uczynią z malutkiej dziewczynki prawdziwą damę. Nasze kompleciki mogą być również idealnym rozwiązaniem nie tylko do chrztu, ale też na wiele
                            innych ważnych rodzinnych uroczystości.
                            Niemowlaki cechuje proporcjonalnie duża główka oraz wypukły brzuszek a także szybki przyrost masy ciała, dlatego też ubranka
                            wkładane przez głowę powinny mieć wygodne zapięcia oraz poszerzony dekolt. Z myślą o najwyższej jakości oraz wykończeniu ubranek,
                            stosujemy tylko wysokogatunkowe dzianiny, pozwalające skórze dzieci na swobodne oddychanie,
                            a także zapewniające im właściwą termoregulację. Poprzez zastosowanie odpowiednich materiałów minimalizujemy ryzyko podrażnień skóry
                            oraz możliwości wystąpienia alergii. Odpowiednie szycie umożliwia posniesienie jakości
                            użytkowej, ubranka zachowują nienaganny fason nawet po wielu praniach.
                            </p>            </div>
                            </div>
                        </div>
                        <div id="more">
                        <a href="promo.php">więcej</a>
                        </div>
                    </div>
                    <div class="leftdiv" id="midleftdiv">
                    </div>
                </div>
                <div class="rowdiv" id="botdiv">
                </div>
            </div>
        </div>
        <style>@import url(css/borders/footerborders.css);</style>
        <div class="bigdivf">
            <div class="rowdivf" id="topdivf">
            </div>
            <div class="rowdivf" id="middivf">
                <div class="rightdivf" id="midrightdivf">
                </div>
                <div class="centerdivf" id="midcenterdivf">
                    <div id="wrapper">
                        <p><a href = "payments.php" class="n-item">Płatności</a></p>
                        <p><a href = "about.php" class="n-item">O Nas</a></p>
                        <p><a href = "gallery.php" class="n-item">Galeria</a></p>
                        <p><a href = "promo.php" class="n-item">Promocje</a></p>
                        <p><a href = "index.php" class="n-item">Sklep</a></p>
                    </div>
                </div>
                <div class="leftdivf" id="midleftdivf">
                </div>
            </div>
            <div class="rowdivf" id="botdivf">
            </div>
        </div>
    </body>
</html>
<script type="text/javascript">
    function checkCart(){
    var cookieArray = [];

    	/*====Read====*/
    	var sizes = [];
    	var i = 0;
    	var rid = -1;
    	var ric = -1;

    	if (jQuery.cookie("cartItem")) {
    		var cookieval = $.cookie("cartItem");

    		 while(i==0){
    		 if(cookieval!=""){
    			var start_pos =  0;
    			var end_pos =  cookieval.indexOf("|",start_pos);
    			var text_to_get =  cookieval.substring(start_pos,end_pos)
    			cookieArray.push(text_to_get);
    			cookieval =  cookieval.substring(end_pos+1);
    		 }
    		 else {
    		 	i++;
    		 }
    	 }
    	var icint = 0;
    	for (var j = 0; j < cookieArray.length; j++) {
    	sizes = [];
    	i = 0;
    	rid = -1;
    	ric = -1;


    	var cookieval = cookieArray[j];


    	var end_pos = cookieval.indexOf("[");
    	var rid = cookieval.substring(0,end_pos);

    	i=0;
    	while(i==0){
    		var start_pos =  cookieval.indexOf("[");
    		var end_pos =  cookieval.indexOf("]",start_pos)+1;
    		if (end_pos <= 0)
    		{
    			i++;
    		} else {
    			var text_to_get =  cookieval.substring(start_pos,end_pos)
    			sizes.push(text_to_get);
    			 // alert(text_to_get);
    			 cookieval =  cookieval.substring(end_pos);
    		}

    	}
    	ric =  cookieval;
    	ric = ric.substring(3);
    	icint += parseInt(ric);
    	$("#cart-count").html(icint);
    	}
     } else {
     	$("#cart-count").html("0");
     }
    }

    $( document ).ready(function() {
    	checkCart();

    	var height = $( "#midcenterdiv" ).css( "height" );
    	 $( "#midrightdiv, #midleftdiv, #middiv" ).css( "height", height );

    	$(function() {
    	    $("#sub-menu-anim-b").lavaLamp({
    	        fx: "backout",
    	        speed: 700,
    	    });

    	    $("#sub-menu-anim-g").lavaLamp({
    	        fx: "backout",
    	        speed: 700,
    	    });
    	});
    });
</script>
